{% extends "base.html" %}
{% load utils %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}
    {% if LANGUAGE_CODE == "tr" %}
        Anasayfa
    {% else %}
        Home
    {% endif %}

{% endblock %}

{% block meta_tags %}
    {% if LANGUAGE_CODE == "tr" %}
        <meta property='og:title' content='Söke Traktör John Deere Anasayfa'/>
        <meta itemprop='name' content='Söke Traktör John Deere Anasayfa'/>
        <meta name='twitter:title' content='Söke Traktör John Deere Anasayfa'/>
    {% else %}
        <meta property='og:title' content='Söke Traktör John Deere Homepage'/>
        <meta itemprop='name' content='Söke Traktör John Deere Homepage'/>
        <meta name='twitter:title' content='Söke Traktör John Deere Homepage'/>
    {% endif %}

    <meta property='og:url' content='{{ request.build_absolute_uri }}'/>
    <meta property='og:description' content='{{ meta_tags|get_tag:"description" }}'/>
    <meta property='og:image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'/>
    <meta property='og:type' content='website'/>

    <meta itemprop='description' content='{{ meta_tags|get_tag:"description" }}'/>
    <meta name="description" content="{{ meta_tags|get_tag:"description" }}"/>
    <meta name="keywords" content="{{ meta_tags|get_tag:"keywords" }}"/>

    <meta itemprop='image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'>
    <meta name='twitter:image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'>

{#    <meta name='twitter:site' content=”@cocukdostuorg”>#}
{#    <meta name='twitter:creator' content=”@cocukdostuorg”>#}

{% endblock %}


{% block body %}
    {% include "banner_slider2.html" %}
    {% include "tech_drawing_search.html" %}
    {% include "main_categories.html" %}
    {#    {% include "newsletter_area.html" %}#}
    {% include "popular_products.html" %}
    {#    {% include "advertise_place.html" %}#}
{% endblock %}