{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="b-crumbs-wrap b-crumbs-wrap2">
    <div class="cont b-crumbs">
        <ul>
            <li>
                {% if LANGUAGE_CODE == "tr" %}
                    <a href="/{{ LANGUAGE_CODE }}">Anasayfa</a>
                {% else %}
                    <a href="/{{ LANGUAGE_CODE }}">Home</a>
                {% endif %}
            </li>
            <li>
                {% if LANGUAGE_CODE == "tr" %}
                    <span>{{ bread_menu.title_tr }}</span>
                {% else %}
                    <span>{{ bread_menu.title_en }}</span>
                {% endif %}

            </li>
        </ul>
    </div>
</div>