{% load static %}
{% load utils %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="pagecont contacts">
    <ul class="contacts-col1">
        {% if LANGUAGE_CODE == "tr" %}
            <li>
                <p><b>İşyeri Adresi</b></p>
                <p>{{ contact_infos|get_tag:"address" }}</p>
            </li>
            <li>
                <p><b>Telefon Numarası</b></p>
                <p><a href="tel:+90{{ contact_infos|get_tag:"phone_value" }}">{{ contact_infos|get_tag:"phone" }}</a>
                </p>
            </li>
            <li>
                <p><b>E-posta</b></p>
                <p><a href="mailto:{{ contact_infos|get_tag:"email" }}">{{ contact_infos|get_tag:"email" }}</a></p>
            </li>
        {% else %}
            <li>
                <p><b>İşyeri Adresi</b></p>
                <p>{{ contact_infos|get_tag:"address" }}</p>
            </li>
            <li>
                <p><b>Phone</b></p>
                <p><a href="tel:+90{{ contact_infos|get_tag:"phone_value" }}">{{ contact_infos|get_tag:"phone" }}</a>
                </p>
            </li>
            <li>
                <p><b>E-mail</b></p>
                <p><a href="mailto:{{ contact_infos|get_tag:"email" }}">{{ contact_infos|get_tag:"email" }}</a></p>
            </li>
        {% endif %}
        {% if page.content_text|safe|length > 0 and page.content_text != None %}
            <li class="contact-content">
                {{ page.content_text|safe }}
            </li>
        {% endif %}

    </ul>

    <div class="contacts-form">
        {% if LANGUAGE_CODE == "tr" %}
            <h3>Bizimle İletişim Kurun</h3>
            <form action="#" class="form-validate">
                <input type="text" placeholder="İsim, Soyisim" name="field-name" class="form-name"/>
                <input type="text" placeholder="E-posta Adresiniz" name="field-email" class="form-email"/>
                <input type="text" placeholder="Telefon Numaranız (alan kodu ve ülke kodu dahil)" name="field-phone" class="form-phone"/>
                <textarea name="message" rows="4" cols="10" placeholder="Mesajınız" class="form-message"></textarea>
                <div class="result-loading"></div>
                <button type="button" id="contact-btn">Gönder</button>
            </form>

        {% else %}
            <h3>Contact with Us</h3>
            <form action="#" class="form-validate">
                <input type="text" placeholder="Name, Lastname" name="field-name" class="form-name"/>
                <input type="text" placeholder="E-mail Address" name="field-email" class="form-email"/>
                <input type="text" placeholder="Phone Number with your country code" name="field-phone" class="form-phone"/>
                <textarea name="message" rows="4" cols="10" placeholder="Your Messsage" class="form-message"></textarea>
                <div class="result-loading"></div>
                <button type="button" id="contact-btn">Send</button>
            </form>
        {% endif %}


    </div>
</div>
