{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="maincont">
    <img src="{{ page.page_cover }}" alt="{{ page.title }}" class="post-img"/>
    {% if page.sub_pages != None %}
        <div class="cont post-sidebar">
            <div class="blog-sb">
                <div class="blog-featured-wrap">
                    {% if LANGUAGE_CODE == "tr" %}
                        <h4>Söke Traktör</h4>
                    {% else %}
                        <h4>Söke Tractor</h4>
                    {% endif %}

                    {% for item in page.sub_pages %}
                        <div class="blog-featured">
                            <h5><a href="/{{ LANGUAGE_CODE }}/{{ item.slug }}">{{ item.title }}</a></h5>
                        </div>
                    {% endfor %}

                    {#                    <div class="blog-featured">#}
                    {#                        <h5><a href="#">Sed non maximus magna</a></h5>#}
                    {#                    </div>#}
                    {#                    <div class="blog-featured">#}
                    {#                        <h5><a href="#">Sed non maximus magna</a></h5>#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="post">
                <div class="post-info">
                    {% if LANGUAGE_CODE == "tr" %}
                        <a href="javascript:void(0);">Söke Traktör John Deere Yetkili Servis</a>
                    {% else %}
                        <a href="javascript:void(0);">Soke Tractor John Deere Authorized Service</a>
                    {% endif %}
                    <h1>{{ page.title }}</h1>
                    {{ page.content_text|safe }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="cont">
            <div class="post">
                <div class="post-info">
                    {% if LANGUAGE_CODE == "tr" %}
                        <a href="javascript:void(0);">Söke Traktör John Deere Yetkili Servis</a>
                    {% else %}
                        <a href="javascript:void(0);">Soke Tractor John Deere Authorized Service</a>
                    {% endif %}
                    <h1>{{ page.title }}</h1>
                    {{ page.content_text|safe }}
                </div>
            </div>
        </div>
    {% endif %}

</div>