{% load static %}
{% load utils %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="cont maincont page-more-mtop">
    <h1><span>{{ page.title }}</span></h1>
    {% if slug == "iletisim" or slug == "contact" %}
        {% include 'pages/contact_page.html' %}
    {% endif %}

    <span class="maincont-line1 maincont-line12"></span>
    <span class="maincont-line2 maincont-line22"></span>
</div>

{% if slug == "iletisim" or slug == "contact" %}
    <div class="contacts-map" id="contacts-map"></div>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        "use strict";

        function initialize() {
            var mapOptions = {
                zoom: 15,
                scrollwheel: false,
                center: new google.maps.LatLng(37.7305884, 27.3963271,314)
            };
            var map = new google.maps.Map(document.getElementById('contacts-map'),
                mapOptions);
            var marker = new google.maps.Marker({
                position: map.getCenter(),
                icon: '/static/img/marker.png',
                map: map
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endif %}