{% extends 'base.html' %}
{% load utils %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}
    {{ meta_tags|get_tag:"page_title" }}
{% endblock %}

{% block meta_tags %}
    <meta property='og:title' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
    <meta itemprop='name' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
    <meta name='twitter:title' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
    <meta property='og:url' content='{{ request.build_absolute_uri }}'/>
    <meta property='og:description' content='{{ meta_tags|get_tag:"description" }}'/>
    <meta property='og:image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'/>
    <meta property='og:type' content='website'/>

    <meta itemprop='description' content='{{ meta_tags|get_tag:"description" }}'/>
    <meta name="description" content="{{ meta_tags|get_tag:"description" }}"/>
    <meta name="keywords" content="{{ meta_tags|get_tag:"keywords" }}"/>

    <meta itemprop='image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'/>
    <meta name='twitter:image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'/>

{% endblock %}

{% block body %}

    {% include "pages/breadcrumbs.html" %}
    {% if page.page_cover|length > 0 %}
        {% include "pages/cover_page.html" %}
    {% else %}
        {% include "pages/default_page.html" %}
    {% endif %}

{% endblock %}