{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="b-crumbs-wrap">
    <div class="cont b-crumbs">
        <ul>
            <li>
                {% if LANGUAGE_CODE == "tr" %}
                    <a href="/{{ LANGUAGE_CODE }}">Anasayfa</a>
                {% else %}
                    <a href="/{{ LANGUAGE_CODE }}">Home</a>
                {% endif %}
            </li>
            {% if page_type == "list" %}
                <li>
                    <a href="/{{ LANGUAGE_CODE }}/{{ parent_categories.slug }}">{{ parent_categories.title }}</a>
                </li>
                <li>
                    <span>{{ category }}</span>
                </li>
            {% elif page_type == "all" %}
                {% if LANGUAGE_CODE == "tr" %}
                    <li>
                        <span>Tüm Parçalar</span>
                    </li>
                {% else %}
                    <li>
                        <span>All Parts</span>
                    </li>
                {% endif %}
            {% elif page_type == "detail" %}
                <li>
                    <a href="/{{ LANGUAGE_CODE }}/{{ parent_categories.slug }}">{{ parent_categories.title }}</a>

                </li>
                <li>
                    <a href="/{{ LANGUAGE_CODE }}/products/{{ category.slug }}">{{ category.title }}</a>
                </li>
                <li>
                    <span>{{ product.title }}</span>
                </li>
            {% else %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        <a href="/{{ LANGUAGE_CODE }}/categories">Kategoriler</a>
                    {% else %}
                        <a href="/{{ LANGUAGE_CODE }}/categories">Categories</a>
                    {% endif %}
                </li>
                <li>
                    <span>{{ product.title }}</span>
                </li>
            {% endif %}

        </ul>
    </div>
</div>