{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Product Tabs - start -->
{#{% if product.content|safe|length > 0 and product.content != None %}#}
    <div class="prod-tabs-wrap">
    <ul class="prod-tabs">

        {% if LANGUAGE_CODE == "tr" %}

            {% if product.content|safe|length > 0 and product.content != None %}
                <li data-prodtab-num="1" id="prod-desc" class="active">
                    <a data-prodtab="#prod-tab-1" href="#">Açıklama</a>
                </li>
                {% if product.tech_image|length > 0 %}
                    <li data-prodtab-num="2" id="prod-props">
                        <a data-prodtab="#prod-tab-2" href="#">Teknik Resim</a>
                    </li>

                {% endif %}

            {% else %}

                {% if product.tech_image|length > 0 %}
                    <li data-prodtab-num="2" id="prod-props" class="active">
                        <a data-prodtab="#prod-tab-2" href="#">Teknik Resim</a>
                    </li>
                {% endif %}
            {% endif %}


        {% else %}
            {% if product.content|safe|length > 0 and product.content != None %}
                <li data-prodtab-num="1" id="prod-desc" class="active" >
                    <a data-prodtab="#prod-tab-1" href="#">Description</a>
                </li>
                {% if product.tech_image|length > 0 %}
                    <li data-prodtab-num="2" id="prod-props">
                        <a data-prodtab="#prod-tab-2" href="#">Technical Drawing</a>
                    </li>
                {% endif %}

            {% else %}
                {% if product.tech_image|length > 0 %}
                    <li data-prodtab-num="2" id="prod-props" class="active">
                        <a data-prodtab="#prod-tab-2" href="#">Technical Drawing</a>
                    </li>
                {% endif %}


            {% endif %}


        {% endif %}

    </ul>
    <div class="prod-tab-cont">
        {% if LANGUAGE_CODE == "tr" %}
            {% if product.content|safe|length > 0 and product.content != None %}
                <p data-prodtab-num="1" class="prod-tab-mob active" data-prodtab="#prod-tab-1">Açıklama</p>
                <div class="prod-tab prod-tab-desc" id="prod-tab-1" itemprop="description" content="{{ product.content|safe }}" >
                    {{ product.content|safe }}
                </div>
                {% if product.tech_image|length > 0 %}
                    <p data-prodtab-num="2" class="prod-tab-mob" data-prodtab="#prod-tab-2">Teknik Resim</p>

                    <div class="prod-tab" id="prod-tab-2">
                        <a data-fancybox-group="tech-prod" class="fancy-img" href="{{ product.tech_image }}"
                           title="{{ product.tech_note }} numaralı parçadır.">
                            <img src="{{ product.tech_image }}" alt="{{ product.title }}" draggable="false">
                        </a>
                    </div>
                {% endif %}

            {% else %}
                {% if product.tech_image|length > 0 %}
                    <p data-prodtab-num="2" class="prod-tab-mob active" data-prodtab="#prod-tab-2">Teknik Resim</p>

                    <div class="prod-tab" id="prod-tab-2">
                        <a data-fancybox-group="tech-prod" class="fancy-img" href="{{ product.tech_image }}"
                           title="{{ product.tech_note }} numaralı parçadır.">
                            <img src="{{ product.tech_image }}" alt="{{ product.title }}" draggable="false">
                        </a>
                    </div>
                {% endif %}

            {% endif %}

        {% else %}
            {% if product.content|safe|length > 0 and product.content != None %}
                <p data-prodtab-num="1" class="prod-tab-mob active" data-prodtab="#prod-tab-1">Description</p>
                <div class="prod-tab prod-tab-desc" id="prod-tab-1" itemprop="description" content="{{ product.content|safe }}">
                    {{ product.content|safe }}
                </div>

                {% if product.tech_image|length > 0 %}
                    <p data-prodtab-num="2" class="prod-tab-mob" data-prodtab="#prod-tab-2">Technical Drawing</p>

                    <div class="prod-tab" id="prod-tab-2">
                        <a data-fancybox-group="tech-prod" class="fancy-img" href="{{ product.tech_image }}"
                           title="It's part number {{ product.tech_note }}">
                            <img src="{{ product.tech_image }}" alt="{{ product.title }}" draggable="false">
                        </a>

                    </div>

                {% endif %}

            {% else %}
                {% if product.tech_image|length > 0 %}
                    <p data-prodtab-num="2" class="prod-tab-mob active" data-prodtab="#prod-tab-2">Technical Drawing</p>

                    <div class="prod-tab" id="prod-tab-2">
                        <a data-fancybox-group="tech-prod" class="fancy-img" href="{{ product.tech_image }}"
                           title="It's part number {{ product.tech_note }}">
                            <img src="{{ product.tech_image }}" alt="{{ product.title }}" draggable="false">
                        </a>

                    </div>

                {% endif %}

            {% endif %}

        {% endif %}

    </div>
</div>
{#{% endif %}#}

<!-- Product Tabs - end -->