{% load static %}
<!-- Product Slider - start -->
<div class="prod-slider-wrap">
    <div class="flexslider prod-slider" id="prod-slider">
        <ul class="slides">
            {% if product.cover|length > 0 %}
                <li>
                    <!-- <a> & <img> Without Spaces -->
                    <a data-fancybox-group="prod" class="fancy-img" itemprop="image" href="{{ product.cover }}"><img src="{{ product.cover }}" alt="{{ product.title }}"></a>
                </li>
            {% else %}
                <li>
                    <a data-fancybox-group="prod" itemprop="image" class="fancy-img" href="{% static 'images/empty.png' %}"><img src="{% static 'images/empty.png' %}" alt="{{ product.title }}"></a>
                </li>
            {% endif %}
            {% if product.galleries|length > 0 %}
                {% for item in product.galleries %}
                    <li>
                        <a data-fancybox-group="prod" itemprop="image" class="fancy-img" href="{{ item.image }}">
                            <img src="{{ item.image }}" alt="{{ item.title }}">
                        </a>
                    </li>
                {% endfor %}
            {% endif %}

        </ul>
    </div>
    <div class="flexslider prod-thumbs" id="prod-thumbs">
        <ul class="slides">
            {% if product.cover|length > 0 %}
                <li>
                    <img src="{{ product.cover }}" alt="{{ product.title }}">
                </li>
            {% else %}
                <li>
                    <img src="{% static 'images/empty.png' %}" alt="{{ product.title }}">
                </li>
            {% endif %}
            {% if product.galleries|length > 0 %}
                {% for item in product.galleries %}
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                {% endfor %}
            {% endif %}

        </ul>
    </div>
</div>
<!-- Product Slider - end -->