{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<h1><span title="{{ category }}">{{ category }}</span></h1>
{% if LANGUAGE_CODE == "tr" %}
    <p class="section-count">{{ prd_count }} YEDEK PARÇA</p>
    {% else %}
    <p class="section-count">{{ prd_count }} PARTS</p>
{% endif %}

<span class="maincont-line1 maincont-line12"></span>
<span class="maincont-line2 maincont-line22"></span>
