{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<ul class="cont-sections">
    <li class="active">
        <a href="#">{{ category }}</a>
    </li>
    <li>
        <a href="#">Suspensions</a>
    </li>
    <li>
        <a href="#">Breaks</a>
    </li>
    <li>
        <a href="#">Instruments</a>
    </li>
    <li>
        <a href="#">Filters</a>
    </li>
    <li>
        <a href="#">Boots</a>
    </li>
</ul>