{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if has_next %}
    <div class="result-loading"></div>
    <a href="javascript:void(0);" data-pagetype="{{ page_type }}" class="more-prd" id="more-prd" data-category="{{ category.slug }}" data-page="{{ page }}">
        {% if LANGUAGE_CODE == "tr" %}
            Daha Fazla
        {% else %}
            Load More
        {% endif %}
    </a>
{% endif %}



