{% load static %}
{% load i18n %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}

<div class="section-list">
    {% for item in products %}
        {% if item|length > 0 %}
            <div class="sectls" itemtype="https://schema.org/Product" itemscope>

                <a href="{{ item.slug }}" class="sectls-img">
                    {% if item.cover != None %}
                        <img src="{{ item.cover }}" alt="{{ item.title }}" itemprop="image">
                    {% else %}
                        <img src="{% static 'images/empty.png' %}" alt="{{ item.title }}" itemprop="image">
                    {% endif %}

                </a>
                <div class="sectls-cont">
                    <div class="sectls-ttl-wrap">
                        {% if parent_categories == None %}
                            <p><a href="{{ item.category_json.slug }}">{{ item.category_json.name }}</a></p>
                        {% else %}
                            <p itemprop="category" itemscope><a href="/{{ LANGUAGE_CODE }}/{{ parent_categories.slug }}">{{ item.category }}</a></p>
                        {% endif %}

                        <h3 itemprop="name" content="{{ item.title }}">
                            <a href="{{ item.slug }}">
                                {{ item.title }}
                            </a>

                        </h3>
                    </div>
                    <div class="sectls-price-wrap" itemprop="mpn" content="{{ item.oem_number }}">
                        {% if LANGUAGE_CODE == "tr" %}
                            <p>Oem No</p>
                        {% else %}
                            <p>Oem Num.</p>
                        {% endif %}
                        <p class="sectls-total prd-value">{{ item.oem_number }}</p>
                    </div>
                    <div class="sectls-price-wrap">
                        {% if LANGUAGE_CODE == "tr" %}
                            <p>Sub No</p>
                        {% else %}
                            <p>Sub Num.</p>
                        {% endif %}
                        {% if item.sub_number|length > 0 %}
                            {% for itemsubnumber in item.sub_number %}
                                <p class="sectls-total prd-value" itemprop="mpn" content="{{ itemsubnumber.suboem }}">{{ itemsubnumber.suboem }}</p>
                            {% endfor %}

                        {% else %}
                            <p class="sectls-total prd-value"> - </p>
                        {% endif %}

                    </div>
                    <div class="sectls-total-wrap">
                        {% if LANGUAGE_CODE == "tr" %}
                            <p>Stok</p>
                        {% else %}
                            <p>Stock</p>
                        {% endif %}
                        {% if item.is_stock %}
                            <p class="sectls-total" itemprop="availability" content="https://schema.org/InStock">
                                <span class="fa fa-check-circle true-stock"></span>
                            </p>
                        {% else %}
                            <p class="sectls-total">
                                <span class="fa fa-times-circle"></span>
                            </p>
                        {% endif %}

                    </div>
                    <div class="sectls-price-wrap">
                        {% if LANGUAGE_CODE == "tr" %}
                            <p>Birim Fiyat</p>
                            {% if item.price == None %}
                                <p class="sectls-price prd-value">Bilgi Alınız</p>
                            {% else %}
                                <meta itemprop="priceCurrency" content="TRY" />
                                <p class="sectls-price prd-value" itemprop="price" content="{{ item.price|floatformat:"2"|intcomma }}">₺ {{ item.price|floatformat:"2"|intcomma }}</p>
                            {% endif %}

                        {% else %}
                            <p>Unit Price</p>
                            {% if item.price == None %}
                                <p class="sectls-price prd-value">Req. Information</p>
                            {% else %}
                                <meta itemprop="priceCurrency" content="USD" />
                                <p class="sectls-price prd-value" itemprop="price" content="{{ item.price|floatformat:"2"|intcomma }}">$ {{ item.price|floatformat:"2"|intcomma }}</p>
                            {% endif %}

                        {% endif %}
                    </div>
                    <div class="sectls-qnt-wrap">
                        {% if LANGUAGE_CODE == "tr" %}
                            <p>Adet</p>
                        {% else %}
                            <p>Quantity</p>
                        {% endif %}

                        <p class="qnt-wrap sectls-qnt">
                            <meta itemprop="minValue" content="0" />
                            <a href="#" class="qnt-minus sectls-minus">-</a>
                            <input type="text" value="1" name="quantity">
                            <a href="#" class="qnt-plus sectls-plus">+</a>
                            <meta itemprop="maxValue" content="800" />
                        </p>
                    </div>

                </div>


                <div class="sectls-info">
                    <div class="sectls-rating-wrap">
                        {% if LANGUAGE_CODE == "tr" %}
                            <p itemscope itemtype="https://schema.org/ProductModel">Modeller: </p>
                        {% else %}
                            <p itemscope itemtype="https://schema.org/ProductModel">Models: </p>
                        {% endif %}
                    </div>

                    {% if item.prd_models|length > 0 %}
                        <p class="sectls-id" itemscope itemtype="https://schema.org/ProductModel">
                            {% for item_models in item.prd_models %}
                                {% if forloop.last %}
                                    {{ item_models.title }}
                                {% else %}
                                    {{ item_models.title }},
                                {% endif %}

                            {% endfor %}
                        </p>
                    {% endif %}

                    <p class="sectls-add">
                        {% if LANGUAGE_CODE == "tr" %}
                            <a href="javascript:void(0);" class="add-basket" data-type="{{ item.product_type }}" data-id="{{ item.id }}">Sepete Ekle</a>
                        {% else %}
                            <a href="javascript:void(0);" class="add-basket" data-type="{{ item.product_type }}" data-id="{{ item.id }}">Add to cart</a>
                        {% endif %}

                    </p>

                </div>
            </div>
        {% endif %}

    {% endfor %}

</div>