{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="prod-props">
    <dl>
        {% if LANGUAGE_CODE == "tr" %}
            <dt itemscope>Oem Numarası</dt>
            <dd itemprop="mpn" content="{{ product.oem_number }}">{{ product.oem_number }}</dd>
            <dt itemscope>Sub Numarası</dt>
            {% if product.sub_number != None and product.sub_number|length > 0 %}
                <dd itemprop="mpn" content="{{ product.sub_number }}">{{ product.sub_number }}</dd>
            {% else %}
                <dd>-</dd>
            {% endif %}

            <dt class="detail-models" itemscope itemtype="https://schema.org/ProductModel">Modeller</dt>
        {% else %}
            <dt>Oem Number</dt>
            <dd itemprop="mpn" content="{{ product.oem_number }}">{{ product.oem_number }}</dd>
            <dt>Sub Number</dt>
            {% if product.sub_number != None and product.sub_number|length > 0 %}
                <dd itemprop="mpn" content="{{ product.sub_number }}">{{ product.sub_number }}</dd>
            {% else %}
                <dd>-</dd>
            {% endif %}
            <dt class="detail-models" itemscope itemtype="https://schema.org/ProductModel">Models</dt>
        {% endif %}
        <dd class="detail-models models-wider" itemscope itemtype="https://schema.org/ProductModel">
            {% for item in product.brand_models %}
                {% if forloop.last %}
                    {{ item.title }}
                {% else %}
                    {{ item.title }},
                {% endif %}

            {% endfor %}
        </dd>
        <dt></dt>
        <dd></dd>
        {% if related_products|length > 0 %}
            {% if LANGUAGE_CODE == "tr" %}
                <dt class="related-products-header"><h5>İlgili Parçalar</h5></dt>
            {% else %}
                <dt class="related-products-header"><h5>Related Parts</h5></dt>
            {% endif %}
            <dd class="related-products-data">
                {% for item in related_products %}
                    <a href="/{{ LANGUAGE_CODE }}/{{ item.slug }}" title="{{ item.title }}" itemprop="product" itemscope content="{{ item.title }}">
                        {% if item.cover|length > 0 %}
                            <img itemprop="image" src="{{ item.cover }}" alt="{{ item.title }}" width="52" height="52"/>
                        {% else %}
                            <img src="{% static 'images/empty.png' %}" alt="{{ item.title }}" width="52" height="52"/>
                        {% endif %}
                        <span class="product-name" itemprop="name" content="{{ item.title }}">{{ item.title }}</span>
                        <span itemprop="mpn" content="{{ item.oem }}"><i>OEM </i>: {{ item.oem }}</span>
                        {% if item.sub != None %}
                            <span itemprop="mpn" content="{{ item.sub }}"><i>SUB </i>: {{ item.sub }}</span>
                        {% else %}
                            <span><i>SUB </i>: -</span>
                        {% endif %}
                    </a>
                {% endfor %}

            </dd>
        {% endif %}

        <dd></dd>
    </dl>
</div>