{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="prod-desc">
    <p class="prod-desc-ttl">
        {% if LANGUAGE_CODE == "tr" %}
            <span>Açıklama</span>
        {% else %}
            <span>Description</span>
        {% endif %}
    </p>

    {% if product.content|length > 0 %}
        <div class="product-description" itemprop="description" content="{{ product.content|safe|truncatewords:"45" }}">
            {{ product.content|safe|truncatewords:"45" }}
        </div>
        {% if LANGUAGE_CODE == "tr" %}
            <a id="prod-showdesc" href="#prod-desc">daha fazla</a>
        {% else %}
            <a id="prod-showdesc" href="#prod-desc">read more</a>
        {% endif %}
    {% endif %}

</div>

