{% extends 'base.html' %}
{% load utils %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}
    {{ product.title }} - {{ category }}
{% endblock %}

{% block meta_tags %}
    {% if page_type == "offthe-list" %}
        <meta property='og:title' content='{{ product.title }} - {{ product.oem_number }} '/>
        <meta itemprop='name' content='{{ product.title }} - {{ product.oem_number }} '/>
        <meta name='twitter:title' content='{{ product.title }} - {{ product.oem_number }} '/>

    {% else %}
        {% if product.sub_number != None %}
            <meta property='og:title'
                  content='{{ product.title }} - {{ product.oem_number }} - {{ product.sub_number }}'/>
            <meta itemprop='name' content='{{ product.title }} - {{ product.oem_number }} - {{ product.sub_number }}'/>
            <meta name='twitter:title'
                  content='{{ product.title }} - {{ product.oem_number }} - {{ product.sub_number }}'/>
        {% else %}
            <meta property='og:title' content='{{ product.title }} - {{ product.oem_number }}'/>
            <meta itemprop='name' content='{{ product.title }} - {{ product.oem_number }}'/>
            <meta name='twitter:title' content='{{ product.title }} - {{ product.oem_number }}'/>
        {% endif %}
    {% endif %}


    <meta property='og:url' content='{{ request.build_absolute_uri }}'/>
    <meta property='og:description' content='{{ meta_tags|get_tag:"description" }}'/>
    <meta property='og:image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'/>
    <meta property='og:type' content='website'/>

    <meta itemprop='description' content='{{ meta_tags|get_tag:"description" }}'/>
    <meta name="description" content="{{ meta_tags|get_tag:"description" }}"/>
    <meta name="keywords" content="{{ meta_tags|get_tag:"keywords" }}"/>

    <meta itemprop='image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}' />
    <meta name='twitter:image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}' />

{% endblock %}

{% block body %}

    {% include "products/breadcrumbs.html" %}
    <div class="cont maincont">
        {% include "products/detail_header.html" %}
        <div class="prod">
            {% include "products/detail_slider.html" %}
            {% include "products/product_content.html" %}
            {% include "products/product_specialities_bullets.html" %}
            {% include "products/product_price.html" %}
        </div>
        {% include "products/detail_tabs.html" %}
    </div>
{% endblock %}