{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load humanize %}
<div class="prod-info">

    <!-- quantity -->
    <div class="prod-qnt-wrap detail-quantity">

        {% if LANGUAGE_CODE == "tr" %}
            <p>Adet</p>
        {% else %}
            <p>Quantity</p>
        {% endif %}
        <p class="qnt-wrap prod-qnt">
            <a href="#" class="qnt-minus prod-minus">-</a>
            <input type="text" value="1">
            <a href="#" class="qnt-plus prod-plus">+</a>
        </p>
    </div>
    <!-- price -->
    <div class="prod-price-wrap detail-price">
        {% if LANGUAGE_CODE == "tr" %}
            <p>Birim Fiyat</p>
            {% if product.price != None %}
                <p class="prod-price" itemprop="price" content="₺ {{ product.price|floatformat:"2"|intcomma }}">₺ {{ product.price|floatformat:"2"|intcomma }}</p>
            {% else %}
                <p class="prod-price">Bilgi Alınız</p>
            {% endif %}
        {% else %}
            <p>Unit Price</p>
            {% if product.price != None and product.price != 0 %}
                <p class="prod-price" itemprop="price" content="$ {{ product.price|floatformat:"2"|intcomma }}" >$ {{ product.price|floatformat:"2"|intcomma }}</p>
            {% else %}
                <p class="prod-price">Req. Information</p>
            {% endif %}

        {% endif %}


    </div>
    <!-- stok durumu -->
    <div class="prod-shipping-wrap detail-stock">
        {% if LANGUAGE_CODE == "tr" %}
            <p>Stok</p>
        {% else %}
            <p>Stock</p>
        {% endif %}

        <span class="fa fa-check-circle true-stock"></span>
    </div>

</div>

<div class="prod-actions">
    {% if LANGUAGE_CODE == "tr" %}
        <p class="prod-add detail-cart">
            <a href="javascript:void(0);" class="add-basket" data-type="{{ product.product_type }}" data-id="{{ product.id }}">Sepete Ekle</a>
        </p>

    {% else %}
        <p class="prod-add detail-cart">
            <a href="javascript:void(0);" class="add-basket" data-type="{{ product.product_type }}" data-id="{{ product.id }}">Add to cart</a>
        </p>
    {% endif %}


</div>