{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<ul class="cont-sections">

    {% if LANGUAGE_CODE == "tr" %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Bildirimler
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Sepet
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Siparişler
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Cari Ödeme İşlemi</a>
        </li>
    {% else %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Notifications
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Basket
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Orders
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Current Payment</a>
        </li>
    {% endif %}
</ul>

<div class="pagecont messages account-container">

    <div class="contacts-form account-form">
        <form action="#" class="form-validate">
            {% csrf_token %}

            {% if LANGUAGE_CODE == "tr" %}
                <div class="form-row">
                    <input type="text" placeholder="İsim" name="firstname" class="form-firstname"
                           value="{{ customer.firstname }}"/>
                </div>
                <div class="form-row">
                    <input type="text" placeholder="Soyisim" name="lastname" class="form-lastname"
                           value="{{ customer.lastname }}"/>
                </div>
                <div class="form-row">
                    <input type="text"
                           placeholder="Telefon numaranızı ülke kodu ile birlikte giriniz. Örnek:90507555555"
                           name="phone" class="form-phone" value="{{ customer.phone }}"/>
                </div>
                <div class="form-row result-mails">
                    <a href="javascript:void(0);" class="change-password">Şifre Değiştir</a> |
                    <a href="javascript:void(0);" class="change-password-email">E-posta ile Şifre Sıfırlama</a>
                </div>
                <div class="form-row address-container" id="address-form">
                    <h4>Adres Bilgileri</h4>
                    <div class="form-row">
                        {% if LANGUAGE_CODE == "tr" %}
                            <select name="address-type" class="address-type">
                                <option value="none">Seçiniz</option>
                                <option value="work">İş Adresi</option>
                                <option value="vat">Fatura Adresi</option>
                                <option value="cargo">Kargo Adresi</option>
                            </select>
                        {% else %}
                            <select name="address-type" class="address-type">
                                <option value="none">Select</option>
                                <option value="work">Work Address</option>
                                <option value="vat">Vat Address</option>
                                <option value="cargo">Cargo Address</option>
                            </select>
                        {% endif %}

                    </div>
                    <div class="form-row">
                        <textarea placeholder="Adres Bilginiz" name="address-text" class="form-address"></textarea>
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Posta Kodu" name="postcode" class="form-postcode"/>
                    </div>
                    <div class="form-row">
                        <input type="checkbox" class="is-cargo" name="is-cargo" value="cargo">
                        <label for="is-cargo"> Kargo adresim olarak kullan.</label>
                    </div>
                    <div class="form-row">
                        <input type="checkbox" class="is-vat" name="is-vat" value="vat">
                        <label for="is-vat"> Fatura adresim olarak kullan.</label>
                    </div>
                </div>
                <div class="form-row waiting-system">
                    {#                    <div class="form-loading"></div>#}
                    <a href="javascript:void(0);" id="account-customer">Kaydet</a>
                </div>


            {% else %}
                <div class="form-row">
                    <input type="text" placeholder="Name" value="{{ customer.firstname }}" name="firstname"
                           class="form-firstname"/>
                </div>
                <div class="form-row">
                    <input type="text" placeholder="Lastname" value="{{ customer.lastname }}" name="lastname"
                           class="form-lastname"/>
                </div>
                <div class="form-row">
                    <input type="text"
                           placeholder="Enter your phone number with country code, please. Ex:90507555555" name="phone"
                           class="form-phone" value="{{ customer.phone }}"/>
                </div>
                <div class="form-row result-mails">
                    <a href="javascript:void(0);" class="change-password">Change Password</a> |
                    <a href="javascript:void(0);" class="change-password-email">Change Password with email</a>
                </div>
                <div class="form-row address-container" id="address-form">
                    <h4>Address Infos</h4>
                    <div class="form-row">
                        {% if LANGUAGE_CODE == "tr" %}
                            <select name="address-type" class="address-type">
                                <option value="none">Seçiniz</option>
                                <option value="work">İş Adresi</option>
                                <option value="vat">Fatura Adresi</option>
                                <option value="cargo">Kargo Adresi</option>
                            </select>
                        {% else %}
                            <select name="address-type" class="address-type">
                                <option value="none">Select</option>
                                <option value="work">Work Address</option>
                                <option value="vat">Billing Address</option>
                                <option value="cargo">Cargo Address</option>
                            </select>
                        {% endif %}

                    </div>
                    <div class="form-row">
                        <textarea placeholder="Enter your address" name="address-text" class="form-address"></textarea>
                    </div>
                    <div class="form-row">
                        <input type="text" placeholder="Zip Code" name="postcode" class="form-postcode"/>
                    </div>
                    <div class="form-row">
                        <input type="checkbox" class="is-cargo" name="is-cargo" value="cargo">
                        <label for="is-cargo"> It's also my shipping address.</label>
                    </div>
                    <div class="form-row">
                        <input type="checkbox" class="is-vat" name="is-vat" value="vat">
                        <label for="is-vat"> It's also my billing address.</label>
                    </div>
                </div>
                <div class="form-row">
                    <a href="javascript:void(0);" id="account-customer">Save</a>
                </div>
            {% endif %}


        </form>
        <hr>
        <div class="form-row address-container address-data">
            {% if customer.address_list|length > 0 %}
                <ul>
                    {% for item in customer.address_list %}
                        <li>
                            {% if item.address_type == "work" %}
                                {% if LANGUAGE_CODE == "tr" %}
                                    <h5>İş Adresi</h5>
                                {% else %}
                                    <h5>Work Address</h5>
                                {% endif %}
                            {% elif item.address_type == "cargo" %}
                                {% if LANGUAGE_CODE == "tr" %}
                                    <h5>Kargo Adresi</h5>
                                {% else %}
                                    <h5>Shipping Address</h5>
                                {% endif %}
                            {% else %}
                                {% if LANGUAGE_CODE == "tr" %}
                                    <h5>Fatura Adresi</h5>
                                {% else %}
                                    <h5>Billing Address</h5>
                                {% endif %}

                            {% endif %}
                            <address>
                                {{ item.address_text }} - {{ item.zipcode }}
                            </address>
                            {% if item.is_cargo %}
                                <span>
                                <i class="fa fa-check"></i>
                                    {% if LANGUAGE_CODE == "tr" %}
                                        Kargo Adresi
                                    {% else %}
                                        Shipping Address
                                    {% endif %}
                            </span>
                            {% endif %}
                            {% if item.is_vat %}
                                <span>
                                <i class="fa fa-check"></i>
                                    {% if LANGUAGE_CODE == "tr" %}
                                        Fatura Adresi
                                    {% else %}
                                        Billing Address
                                    {% endif %}

                            </span>
                            {% endif %}


                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>
    {% include 'customers/password_form.html' %}
</div>
