{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load humanize %}

<div class="section-top calculate-section">

    <div class="section-view basket-header-div">
        {% if LANGUAGE_CODE == "tr" %}
            <div class="header-title">Ürün Adeti</div>
            <div class="header-cost total-count">{{ basket_count }}</div>
            <div class="header-title">Toplam</div>
            <div class="header-cost total-cost">₺ {{ basket_price|floatformat:"2"|intcomma }}</div>
        {% else %}
            <div class="header-title">Component</div>
            <div class="header-cost total-count">{{ basket_count }}</div>
            <div class="header-title">Total</div>
            <div class="header-cost total-cost">$ {{ basket_price|floatformat:"2"|intcomma }}</div>
        {% endif %}

    </div>
    <div class="section-view basket-header-div">
        {% if LANGUAGE_CODE == "tr" %}
            <h4>Ödeme Yöntemi</h4>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="custom-payment">
                <i class="fa fa-calendar"></i>
                Cari Ödeme
            </a>
            <a href="/{{ LANGUAGE_CODE }}/customers/credit-card" class="credit-card">
                <i class="fa fa-credit-card"></i>
                Kredi Kartı
            </a>
        {% else %}
            <h4>Payment Method</h4>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="custom-payment">
                <i class="fa fa-calendar"></i>
                Current Payment
            </a>
            <a href="/{{ LANGUAGE_CODE }}/customers/credit-card" class="credit-card">
                <i class="fa fa-credit-card"></i>
                Credit Card
            </a>
        {% endif %}

    </div>

</div>