{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load humanize %}

<ul class="cont-sections">

    {% if LANGUAGE_CODE == "tr" %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Bildirimler
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li class="active">
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Sepet
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Siparişler
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Cari Ödeme İşlemi</a>
        </li>
    {% else %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Notifications
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li class="active">
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Basket
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Orders
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Current Payment</a>
        </li>
    {% endif %}
</ul>



{% if products|length > 0 %}
    {% include 'customers/basket_payment.html' %}

    <div class="section-list cart-list">
        {% for item in products %}
            <div class="sectls">
                <a href="{{ item.slug }}" class="sectls-img">
                    <img src="{{ item.cover }}" alt="{{ item.title }}">
                </a>
                <div class="sectls-cont">
                    <div class="sectls-ttl-wrap">
                        {% if item.category|length > 0 %}
                            <p><a href="{{ item.category.slug }}">{{ item.category.name }}</a></p>
                        {% endif %}
                        <h3>
                            <a href="{{ item.slug }}">
                                {{ item.title }}
                            </a>
                        </h3>
                    </div>
                    <div class="sectls-price-wrap">
                        <p>Oem No</p>
                        <p class="sectls-total prd-value">{{ item.oem_number }}</p>
                    </div>
                    <div class="sectls-price-wrap">
                        <p>Sub No</p>
                        {% if item.sub_number|length > 0 %}
                            {% for itemsubnumber in item.sub_number %}
                                <p class="sectls-total prd-value">{{ itemsubnumber.suboem }}</p>
                            {% endfor %}

                        {% else %}
                            <p class="sectls-total prd-value"> - </p>
                        {% endif %}

                    </div>
                    <div class="sectls-total-wrap">
                        {% if LANGUAGE_CODE == "tr" %}
                            <p>Stok</p>
                        {% else %}
                            <p>Stock</p>
                        {% endif %}

                        <p class="sectls-total">
                            {% if item.is_stock %}
                                <span class="fa fa-check-circle true-stock"></span>
                            {% else %}

                            {% endif %}

                        </p>
                    </div>
                    <div class="sectls-price-wrap">
                        {% if LANGUAGE_CODE == "tr" %}
                            <p>Birim Fiyat</p>
                        {% else %}
                            <p>Unit Price</p>
                        {% endif %}

                        {% if item.price == None or item.price == 0 %}
                            {% if LANGUAGE_CODE == "tr" %}
                                <p class="sectls-price prd-value">Bilgi Alınız</p>
                            {% else %}
                                <p class="sectls-price prd-value">Req. Information</p>
                            {% endif %}
                        {% else %}
                            {% if LANGUAGE_CODE == "tr" %}
                                <p class="sectls-price prd-value">₺ {{ item.price|floatformat:"2"|intcomma }}</p>
                            {% else %}
                                <p class="sectls-price prd-value">$ {{ item.price|floatformat:"2"|intcomma }}</p>
                            {% endif %}

                        {% endif %}

                    </div>
                    <div class="sectls-qnt-wrap">
                        {% if LANGUAGE_CODE == "tr" %}
                            <p>Adet</p>
                        {% else %}
                            <p>Quantity</p>
                        {% endif %}

                        <p class="qnt-wrap sectls-qnt">
                            <a href="#" class="qnt-minus sectls-minus">-</a>
                            <input type="text" value="{{ item.quantity }}" name="quantity" data-id="{{ item.id }}"
                                   data-type="{{ item.product_type }}">
                            <a href="#" class="qnt-plus sectls-plus">+</a>
                        </p>
                    </div>
                </div>
                <div class="sectls-info">
                    {% if item.prd_models|length > 0 %}
                        <div class="sectls-rating-wrap">
                            {% if LANGUAGE_CODE == "tr" %}
                                <p>Modeller: </p>
                            {% else %}
                                <p>Models: </p>
                            {% endif %}
                        </div>
                        <p class="sectls-id">
                            {% for item_models in item.prd_models %}
                                {% if forloop.last %}
                                    {{ item_models.title }}
                                {% else %}
                                    {{ item_models.title }},
                                {% endif %}

                            {% endfor %}
                        </p>
                    {% endif %}
                    <p class="sectls-add">
                        <a href="javascript:void(0);" class="remove-basket" data-type="regular-product"
                           data-id="{{ item.id }}">
                            {% if LANGUAGE_CODE == "tr" %}
                                Sepetten kaldır
                            {% else %}
                                Remove from cart
                            {% endif %}
                        </a>
                    </p>

                    <p class="sectls-favorites total-price product-{{ item.id }}">

                        {% if item.total != None and item.total != 0 %}
                            {% if LANGUAGE_CODE == "tr" %}
                                <span>Toplam : ₺ {{ item.price|floatformat:"2"|intcomma }}</span>
                            {% else %}
                                <span>Total : $ {{ item.price|floatformat:"2"|intcomma }}</span>
                            {% endif %}
                        {% else %}
                            {% if LANGUAGE_CODE == "tr" %}
                                <span>Toplam : Bilgi Alınız</span>
                            {% else %}
                                <span>Total : Req. Information</span>
                            {% endif %}
                        {% endif %}


                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'customers/basket_payment.html' %}
{% else %}
    <div class="section-list cart-list">
        <div class="sectls basket-message">
            <h3>{{ message }}</h3>
        </div>

    </div>
{% endif %}