{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load humanize %}

<ul class="basket-content">
    {% for item in basket %}
        {% if LANGUAGE_CODE == "tr" %}
            <li>
                <h5>Ürün:</h5>
                <span class="product-title">{{ item.title }}</span>
                <h5>Adet:</h5>
                <span class="product-quantity">{{ item.quantity }}</span>
                <h5>Oem Numarası:</h5>
                <span class="product-oem">{{ item.oem_number }}</span>
                <h5>Sub Oem Numarası:</h5>
                <span class="product-suboem">
                {% if item.sub_number|length > 0 %}
                    {% for itemsub in item.sub_number %}
                        {% if forloop.last %}
                            {{ itemsub.suboem }}
                        {% else %}
                            {{ itemsub.suboem }},
                        {% endif %}
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
                </span>
                <h5>Toplam:</h5>
                {% if item.total == "0.0" or item.total == None %}
                    <span class="total">Bilgi İsteyiniz</span>
                {% else %}
                    <span class="total">₺ {{ item.total|floatformat:"2"|intcomma }}</span>
                {% endif %}

            </li>
        {% else %}
            <li>
                <h5>Product:</h5>
                <span class="product-title">{{ item.title }}</span>
                <h5>Quantity:</h5>
                <span class="product-quantity">{{ item.quantity }}</span>
                <h5>Oem Number:</h5>
                <span class="product-oem">{{ item.oem_number }}</span>
                <h5>Sub Oem Number:</h5>
                <span class="product-suboem">
                {% if item.sub_number|length > 0 %}
                    {% for itemsub in item.sub_number %}
                        {% if forloop.last %}
                            {{ itemsub.suboem }}
                        {% else %}
                            {{ itemsub.suboem }},
                        {% endif %}
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
                </span>
                <h5>Total:</h5>
                {% if item.total == "0.0" or item.total == None %}
                    <span class="total">Request Information</span>
                {% else %}
                    <span class="total">$ {{ item.total|floatformat:"2"|intcomma }}</span>
                {% endif %}

            </li>
        {% endif %}

    {% endfor %}

    <li class="total-prices">
        {% if LANGUAGE_CODE == "tr" %}
            <h5>Toplam:</h5>
            {% if basket_price == 0 %}
                <span class="total">Bilgi İsteyiniz</span>
            {% else %}
                <span class="total">₺ {{ basket_price }}</span>
            {% endif %}

        {% else %}
            <h5>Total:</h5>
            {% if basket_price == 0 %}
                <span class="total">Request Information</span>
            {% else %}
                <span class="total">$ {{ basket_price }}</span>
            {% endif %}

        {% endif %}

    </li>
</ul>