{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="b-crumbs-wrap b-crumbs-wrap2">
    <div class="cont b-crumbs">
        <ul>
            <li>
                {% if LANGUAGE_CODE == "tr" %}
                    <a href="/{{ LANGUAGE_CODE }}">Anasayfa</a>
                {% else %}
                    <a href="/{{ LANGUAGE_CODE }}">Home</a>
                {% endif %}
            </li>
            {% if page_type == "remember-password" %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        <span>Şifre Yenileme</span>
                    {% else %}
                        <span>Reset Password</span>
                    {% endif %}
                </li>
            {% elif page_type == "notifications" %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        <span>Bildirimler</span>
                    {% else %}
                        <span>Notifications</span>
                    {% endif %}
                </li>
            {% elif page_type == "accounts" %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        <span>Hesap Ayarları</span>
                    {% else %}
                        <span>Account Options</span>
                    {% endif %}
                </li>
            {% elif page_type == "change-password" %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        <span>Şifre Değiştirme</span>
                    {% else %}
                        <span>Password Change</span>
                    {% endif %}
                </li>
            {% elif page_type == "basket" %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        <span>Sepet</span>
                    {% else %}
                        <span>Basket</span>
                    {% endif %}
                </li>
            {% elif page_type == "orders" %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        <span>Siparişler</span>
                    {% else %}
                        <span>Orders</span>
                    {% endif %}
                </li>
            {% elif page_type == "past-orders" %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        <span>Geçmiş Siparişler</span>
                    {% else %}
                        <span>Past Orders</span>
                    {% endif %}
                </li>
            {% elif page_type == "credit-card" %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        <span>Kredi Kartı</span>
                    {% else %}
                        <span>Credit Cart</span>
                    {% endif %}
                </li>
            {% elif page_type == "custom-payment" %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        <span>Cari Ödeme</span>
                    {% else %}
                        <span>Current Payment</span>
                    {% endif %}
                </li>
            {% else %}
                <li>
                    {% if LANGUAGE_CODE == "tr" %}
                        {% if page_type == "register" %}
                            <span>KAYIT OL</span>
                        {% elif page_type == "login" %}
                            <span>Giriş Yap</span>
                        {% endif %}

                    {% else %}
                        {% if page_type == "register" %}
                            <span>REGISTER</span>
                        {% elif page_type == "login" %}
                            <span>Login</span>
                        {% endif %}
                    {% endif %}

                </li>
            {% endif %}

        </ul>
    </div>
</div>