{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}
    {% if LANGUAGE_CODE == "tr" %}
        {% if page_type == "notifications" %}
            Bildirimler
        {% elif page_type == "basket" %}
            Alışveriş Sepeti
        {% elif page_type == "orders" %}
            Siparişler
        {% elif page_type == "credit-card" %}
            Alışverişi Tamamla
        {% elif page_type == "custom-payment" %}
            Cari Ödeme İşlemi
        {% else %}
            Hesap Ayarları
        {% endif %}
    {% else %}
        {% if page_type == "notifications" %}
            Notifications
        {% elif page_type == "basket" %}
            Basket
        {% elif page_type == "orders" %}
            Orders
        {% elif page_type == "credit-card" %}
            Complete Shopping
        {% elif page_type == "custom-payment" %}
            Current Payment
        {% else %}
            Account Options
        {% endif %}
    {% endif %}



{% endblock %}

{% block body %}
    {% include "customers/breadcrumbs.html" %}
    <div class="cont maincont clear-admin-container">
        <h1>
            {% if LANGUAGE_CODE == "tr" %}
                <span>Panel</span>
            {% else %}
                <span>Dashboard</span>
            {% endif %}

        </h1>
        <p class="user-info">
            <span>
                {% if LANGUAGE_CODE == "tr" %}
                    Hoşgeldiniz,
                {% else %}
                    Welcome,
                {% endif %}
                {{ user.first_name }} {{ user.last_name }}
            </span>


        </p>
        <span class="maincont-line1 maincont-line12"></span>
        <span class="maincont-line2 maincont-line22"></span>

        {% if page_type == "notifications" %}
            {% include 'customers/notifications.html' %}
        {% elif page_type == "basket" %}
            {% include 'customers/basket.html' %}
        {% elif page_type == "orders" %}
            {% include 'customers/orders.html' %}
        {% elif page_type == "past-orders" %}
            {% include 'customers/past-orders.html' %}
        {% elif page_type == "credit-card" %}
            {% include 'customers/payment_credit.html' %}
        {% elif page_type == "custom-payment" %}
            {% include 'customers/payment_custom.html' %}
        {% else %}
            {% include 'customers/accounts.html' %}
        {% endif %}


    </div>

{% endblock %}