{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="contacts-form login-user">
    {% if LANGUAGE_CODE == "tr" %}
        <form action="#" class="form-validate">
            {% csrf_token %}
            <div class="form-row">
                <input type="text" placeholder="E-posta adresiniz." name="email-address" class="form-email"/>
            </div>
            <div class="form-row">
                <input type="password" placeholder="Şifreniz" class="form-password" name="form-password"/>
            </div>
            <div class="form-row">
                <a href="/{{ LANGUAGE_CODE }}/customers/reset-password" class="forgot-password">Şifremi Hatırla</a>
            </div>
            <div class="form-row">
                <a href="javascript:void(0);" id="login-customer" data-language="{{ LANGUAGE_CODE }}">Giriş Yap</a>
            </div>
        </form>
    {% else %}
        <form action="#" class="form-validate">
            {% csrf_token %}
            <div class="form-row">
                <input type="text" placeholder="Email Address" name="email-address" class="form-email"/>
            </div>
            <div class="form-row">
                <input type="password" placeholder="Password" class="form-password" name="form-password"/>
            </div>
            <div class="form-row">
                <a href="/{{ LANGUAGE_CODE }}/customers/reset-password" class="forgot-password">Remember Password</a>
            </div>
            <div class="form-row">
                <a href="javascript:void(0);" id="login-customer" data-language="{{ LANGUAGE_CODE }}">Login</a>
            </div>
        </form>
    {% endif %}

    <div class="form-result-message"></div>
</div>