{% extends "base.html" %}
{% load utils %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}
    {{ meta_tags|get_tag:"page_title" }}
{% endblock %}

{% block meta_tags %}
    <meta property='og:title' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
    <meta itemprop='name' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
    <meta name='twitter:title' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
    <meta property='og:url' content='{{ request.build_absolute_uri }}'/>
    <meta property='og:description' content='{{ meta_tags|get_tag:"description" }}'/>
    <meta property='og:image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'/>
    <meta property='og:type' content='website'/>

    <meta itemprop='description' content='{{ meta_tags|get_tag:"description" }}'/>
    <meta name="description" content="{{ meta_tags|get_tag:"description" }}"/>
    <meta name="keywords" content="{{ meta_tags|get_tag:"keywords" }}"/>

    <meta itemprop='image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'/>
    <meta name='twitter:image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'/>

{% endblock %}


{% block body %}
    {% include "customers/breadcrumbs.html" %}

    <div class="maincont">
        {% if page.page_cover|length > 0 %}
            <img src="{{ page.page_cover }}" alt="{{ title }}" class="post-img user-page-cover"/>
        {% endif %}
        <div class="cont">
            <div class="post">

                <div class="post-info">
                    <a href="/{{ LANGUAGE_CODE }}/login">{{ page.menu_title }}</a>
                    <h1>{{ page.title }}</h1>
                </div>
                {% if not user.is_authenticated %}
                    {{ page.content_text|safe }}
                    {% include 'customers/login_form.html' %}
                {% else %}
                    {% if LANGUAGE_CODE == "tr" %}
                        <h3 class="register-message">Şuan zaten giriş yapmış bulunuyorsunuz.</h3>
                    {% else %}
                        <h3 class="register-message">You're already logged in.</h3>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}