{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<ul class="cont-sections">

    {% if LANGUAGE_CODE == "tr" %}
        <li class="active">
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Bildirimler
            {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Sepet
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Siparişler
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Cari Ödeme İşlemi</a>
        </li>
    {% else %}
        <li class="active">
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Notifications
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Basket
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Orders
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Current Payment</a>
        </li>
    {% endif %}
</ul>

<div class="pagecont messages">
    {% if notifications|length > 0 %}
        {% for item in notifications %}
            <div class="message">
                {% if LANGUAGE_CODE == "tr" %}
                    <p class="message-author"><span>Söke Traktör</span> tarafından</p>
                    <h3><a href="{{ item.slug }}">{{ item.title_tr }}</a></h3>
                {% else %}
                    <p class="message-author">by <span>Söke Traktör</span></p>
                    <h3><a href="{{ item.slug }}">{{ item.title_en }}</a></h3>
                {% endif %}
                <p>{{ item.message }}</p>
            </div>
        {% endfor %}

    {% endif %}


</div>
