{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<ul class="cont-sections">
    {% if LANGUAGE_CODE == "tr" %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Bildirimler
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Sepet
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li class="active">
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Siparişler
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}

            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Cari Ödeme İşlemi</a>
        </li>
    {% else %}

        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Notifications
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Basket
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li class="active">
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Orders
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Current Payment</a>
        </li>
    {% endif %}
</ul>


<div class="pagecont messages reset-ptop more-mbottom">
    {% if orders|length > 0 %}
        {% for item in orders %}
            <div class="message basket-accordion">
                <button class="accordion">
                    {% if LANGUAGE_CODE == "tr" %}
                        <b>Kredi Kartı</b>
                    {% else %}
                        <b>Credit Card</b>
                    {% endif %}
                    <br/>
                    {{ item.basket_date|date }} -
                    {% if item.total_price == 0 %}
                        {% if LANGUAGE_CODE == "tr" %}
                            Şirket ile görüşüldü.
                        {% else %}
                            Interviewed with the company.
                        {% endif %}
                    {% else %}
                        {% if LANGUAGE_CODE == "tr" %}
                            ₺ {{ item.total_price }}
                        {% else %}
                            $ {{ item.total_price }}
                        {% endif %}
                    {% endif %}


                </button>
                <div class="panel">
                    <h3 class="order-title">Ürünler</h3>
                    <ul class="order-products">
                        {% for item_product in item.products %}
                            <li>
                                <h5>Ürün Adı:</h5>
                                <span><a href="{{ item_product.slug }}">{{ item_product.title }}</a></span>
                            </li>
                            {% if LANGUAGE_CODE == "tr" %}
                                <li>
                                    <h5>Birim Fiyatı:</h5>
                                    {% if item_product.price == 0 or item_product.price is None %}
                                        <span>Bilgi İsteyiniz</span>
                                    {% else %}
                                        <span>₺ {{ item_product.price }}</span>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li>
                                    <h5>Unit Price</h5>
                                    {% if item_product.price == 0 or item_product.price is None %}
                                        <span>Request Information</span>
                                    {% else %}
                                        <span>$ {{ item_product.price }}</span>
                                    {% endif %}
                                </li>
                            {% endif %}

                            <li>
                                {% if LANGUAGE_CODE == "tr" %}
                                    <h5>Adet:</h5>
                                {% else %}
                                    <h5>Quantity:</h5>
                                {% endif %}
                                <span>{{ item_product.quantity }}</span>
                            </li>
                        {% endfor %}

                    </ul>
                    <div class="order-total">
                        <h5>Ödeme Tipi: </h5>
                        <p> {{ item.payment_type }} </p>
                    </div>
                    <div class="order-total">
                        <h5>Ödeme Tarihi: </h5>
                        <p>{{ item.payment_date|date }}</p>
                    </div>


                </div>
            </div>
        {% endfor %}
    {% endif %}


    {% if current_orders|length > 0 %}
        {% for item in current_orders %}
            <div class="message basket-accordion">
                <button class="accordion">
                    {% if LANGUAGE_CODE == "tr" %}
                        <b>Cari Ödeme</b>
                    {% else %}
                        <b>Current Payment</b>
                    {% endif %}
                    <br/>
                    {{ item.payment_date|date }}
                    - {{ item.currency_type }} {{ item.total }}
                </button>
                <div class="panel">
                    <h3 class="order-title">Cari Ödeme</h3>
                    <ul class="order-products">
                        <li>
                            <h5>Tarih:</h5>
                            <span>{{ item.payment_date|date }}</span>
                        </li>
                        <li>
                            <h5>Tutar:</h5>
                            <span>{{ item.currency_type }} {{ item.total }}</span>
                        </li>
                        <li>
                            <h5>Ödeme Türü</h5>
                            {% if item.installment > 0 %}
                                <span>{{ item.installment }} Taksit Sayısı</span>
                            {% else %}
                                <span>Tek Çekim</span>
                            {% endif %}

                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}

</div>


