{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- Modal Form -->
<div id="password-form" class="modal-form">
    {% if LANGUAGE_CODE == "tr" %}
        <p class="modal-form-ttl">Şifre Değiştir</p>
    {% else %}
        <p class="modal-form-ttl">Change Password</p>
    {% endif %}
    {% if LANGUAGE_CODE == "tr" %}
        <form action="#" class="form-validate newpass-form">
            <div class="form-row">
                <input type="password" placeholder="Güncel Şifreniz" class="form-current" name="form-current"/>
            </div>
            <div class="form-row">
                <input type="password" placeholder="Yeni Şifreniz" class="form-newpass" name="form-newpass"/>
            </div>
            <div class="form-row">
                <input type="password" placeholder="Yeni Şifrenizi Tekrardan Giriniz" class="form-renewpass"
                       name="form-renewpass"/>
            </div>
            <a href="javascript:void(0);" class="change-password-button">Şifre Değiştir</a>
        </form>
    {% else %}
        <form action="#" class="form-validate newpass-form">
            <div class="form-row">
                <input type="password" placeholder="Current password" class="form-current" name="form-current"/>
            </div>
            <div class="form-row">
                <input type="password" placeholder="Enter your new password." class="form-newpass" name="form-newpass"/>
            </div>
            <div class="form-row">
                <input type="password" placeholder="Enter your new password again." class="form-renewpass"
                       name="form-renewpass"/>
            </div>
            <a href="javascript:void(0);" class="change-password-button">Change Password</a>
        </form>
    {% endif %}

</div>