{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<ul class="cont-sections">

    {% if LANGUAGE_CODE == "tr" %}
{#        <li>#}
{#            <a href="/{{ LANGUAGE_CODE }}/customers/accounts">Hesabım</a>#}
{#        </li>#}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Bildirimler <span>12</span></a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Sepet
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Siparişler <span>5</span></a>
        </li>
        <li class="active">
            <a href="/{{ LANGUAGE_CODE }}/customers/past-orders">Geçmiş Siparişler <span>12</span></a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Cari Ödeme İşlemi</a>
        </li>
    {% else %}
{#        <li>#}
{#            <a href="/{{ LANGUAGE_CODE }}/customers/accounts">Account</a>#}
{#        </li>#}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Notifications <span>12</span></a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Basket
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Orders <span>5</span></a>
        </li>
        <li class="active">
            <a href="/{{ LANGUAGE_CODE }}/customers/past-orders">Past Orders <span>12</span></a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Current Payment</a>
        </li>
    {% endif %}
</ul>

<div class="pagecont messages">

    <div class="message">
        {% if LANGUAGE_CODE == "tr" %}
            <p class="message-author"><span>Söke Traktör</span> tarafından</p>
            {% else %}
            <p class="message-author">by <span>Söke Traktör</span></p>
        {% endif %}

        <h3><a href="">Suspendisse convallis, dolor ac eleifend faucibus, arcu massa pellentesque justo</a></h3>
        <p>Donec sed ipsum efficitur, tincidunt metus vitae, euismod dolor. Nam tincidunt eget turpis consectetur
            ornare. Fusce erat sem, accumsan eu molestie et, aliquam sed ante. Nunc erat nunc, blandit non accumsan ut,
            varius non felis. Suspendisse sed elementum lectus. Curabitur blandit gravida nulla sed condimentum. Nullam
            rutrum, leo a auctor sagittis, arcu odio pretium nulla, et sodales sem diam nec magna. <a href="#">read
                more</a></p>
    </div>

</div>
