{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load humanize %}

<ul class="cont-sections">

    {% if LANGUAGE_CODE == "tr" %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Bildirimler
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Sepet
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Siparişler
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Cari Ödeme İşlemi</a>
        </li>
    {% else %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Notifications
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Basket
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Orders
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Current Payment</a>
        </li>
    {% endif %}
</ul>


{% if situation and basket_situation %}
    <div class="pagecont messages reset-ptop">
        <div class="message basket-accordion">
            {% if LANGUAGE_CODE == "tr" %}
                {% if basket_price == 0 or basket_price == None %}
                    <button class="accordion">Ödenecek Tutar: Bilgi İsteyiniz</button>
                {% else %}
                    <button class="accordion">Ödenecek Tutar: ₺ {{ basket_price|floatformat:"2"|intcomma }}</button>
                {% endif %}

            {% else %}
                {% if basket_price == 0 or basket_price == None %}
                    <button class="accordion">Payment Cost: Request Information</button>
                {% else %}
                    <button class="accordion">Payment Cost: $ {{ basket_price|floatformat:"2"|intcomma }}</button>
                {% endif %}

            {% endif %}

            <div class="panel">
                {% include 'customers/basket_content.html' %}
            </div>

        </div>

    </div>

    <div class="pagecont messages">
        <div class="payment-title">
            {% if LANGUAGE_CODE == "tr" %}
                <h3>Kredi Kartı ile Ödeme</h3>
                <p class="payment-sub">Kredi kartı bilgileriniz sistemimize kayıt edilmemektir.</p>
            {% else %}
                <h3>Payment with Credit Card</h3>
                <p class="payment-sub">Your credit card informations does not save in our system.</p>
            {% endif %}

        </div>
        {% include 'customers/card_form.html' %}
    </div>

{% else %}

    <div class="section-list cart-list">
        <div class="sectls basket-message payment-message">

            <h3>{{ message }}</h3>
            {#            {% if basket_situation == False %}#}
            {% if situation == False %}
                {% if LANGUAGE_CODE == "tr" %}
                    <a href="/{{ LANGUAGE_CODE }}/customers/accounts#address-form" class="address-btn">Adreslerimi
                        Düzenle</a>
                {% else %}
                    <a href="/{{ LANGUAGE_CODE }}/customers/accounts#address-form" class="address-btn">Edit My
                        Addresses</a>
                {% endif %}
            {% endif %}


        </div>

    </div>
{% endif %}

