{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load humanize %}

<ul class="cont-sections">

    {% if LANGUAGE_CODE == "tr" %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Bildirimler
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Sepet
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Siparişler
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Cari Ödeme İşlemi</a>
        </li>
    {% else %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Notifications
                {% if notification_count > 0 %}
                    <span>{{ notification_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/basket">Basket
                {% if basket_count > 0 %}
                    <span>{{ basket_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Orders
                {% if order_count > 0 %}
                    <span>{{ order_count }}</span>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Current Payment</a>
        </li>
    {% endif %}
</ul>


{% if situation %}
    <div class="pagecont messages">

        <div class="payment-title">
            {% if LANGUAGE_CODE == "tr" %}
                <h3>Cari Ödeme</h3>
                <p class="payment-sub">Kredi kartı bilgileriniz sistemimize kayıt edilmemektir.</p>
            {% else %}
                <h3>Current Payment</h3>
                <p class="payment-sub">Your credit card informations does not save in our system.</p>
            {% endif %}

        </div>
        {% include 'customers/card_form.html' %}
    </div>
{% else %}
    <div class="section-list cart-list">
        <div class="sectls basket-message payment-message">
            <h3>{{ message }}</h3>
            {% if LANGUAGE_CODE == "tr" %}
                <a href="/{{ LANGUAGE_CODE }}/customers/accounts#address-form" class="address-btn">Adreslerimi
                    Düzenle</a>

            {% else %}
                <a href="/{{ LANGUAGE_CODE }}/customers/accounts#address-form" class="address-btn">Edit My Addresses</a>
            {% endif %}
        </div>
    </div>
{% endif %}

