{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="contacts-form register-user">
    {% if LANGUAGE_CODE == "tr" %}
        <form action="#" class="form-validate">
            {% csrf_token %}
            <div class="form-row">
                <input type="text" placeholder="İsim" name="name" class="form-name"/>
            </div>
            <div class="form-row">
                <input type="text" placeholder="Soyisim" name="lastname" class="form-lastname"/>
            </div>
            <div class="form-row">
                <input type="text" placeholder="E-posta adresiniz." name="email-address" class="form-email"/>
            </div>
            <div class="form-row">
                <input type="password" placeholder="Şifreniz" class="form-password" name="form-password"/>
            </div>
            <div class="form-row">
                <input type="password" placeholder="Şifre Tekrar" class="form-repassword" name="form-repassword"/>
            </div>
            <div class="form-row">
                <p>Kayıt olarak <a href="#" class="hyperlink">Gizlilik Politikası</a> ve <a href="#"
                                                                                            class="hyperlink">Kullanım
                    Koşulları</a> sözleşmelerimizi kabul etmiş sayılırsınız.</p>
            </div>
            <div class="form-row">
                <a href="javascript:void(0);" id="register-customer">Kayıt Oluştur</a>
            </div>
        </form>
    {% else %}
        <form action="#" class="form-validate">
            {% csrf_token %}
            <div class="form-row">
                <input type="text" placeholder="Name" name="name" class="form-name"/>
            </div>
            <div class="form-row">
                <input type="text" placeholder="Lastname" name="lastname" class="form-lastname"/>
            </div>
            <div class="form-row">
                <input type="text" placeholder="Email Address" name="email-address" class="form-email"/>
            </div>
            <div class="form-row">
                <input type="password" placeholder="Password" class="form-password" name="form-password"/>
            </div>
            <div class="form-row">
                <input type="password" placeholder="Re-Password" class="form-repassword" name="form-repassword"/>
            </div>
            <div class="form-row">
                <a href="javascript:void(0);" id="register-customer">Register</a>
                {#                <input type="button" name="form-button" id="register-customer" value="Register">#}
            </div>
        </form>
    {% endif %}
    <div class="result-message"></div>
</div>