{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% if page_type == "remember-password" %}
    <div class="contacts-form reset-password">
        {% if LANGUAGE_CODE == "tr" %}
            <form action="#" class="form-validate">
                {% csrf_token %}
                <div class="form-row">
                    <input type="text" placeholder="E-posta adresiniz." name="email-address" class="form-email"/>
                </div>
                <div class="form-row">
                    <a href="javascript:void(0);" id="reset-password-btn">Şifremi Yenile</a>
                </div>
            </form>
        {% else %}
            <form action="#" class="form-validate">
                {% csrf_token %}
                <div class="form-row">
                    <input type="text" placeholder="Email Address" name="email-address" class="form-email"/>
                </div>
                <div class="form-row">
                    <a href="javascript:void(0);" id="reset-password-btn">Reset Password</a>
                </div>
            </form>
        {% endif %}
    </div>
{% elif page_type == "change-password" %}
    <div class="contacts-form changing-password">
        {% if message|length > 0 %}
            <p class="result-message err-message">{{ message }}</p>
        {% else %}
            {% if LANGUAGE_CODE == "tr" %}
                <form action="#" class="form-validate">
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="password" placeholder="Yeni şifrenizi giriniz." class="form-password"
                               name="form-password"/>
                    </div>
                    <div class="form-row">
                        <input type="password" placeholder="Yeni şifrenizi tekrar giriniz." class="form-repassword"
                               name="form-repassword"/>
                    </div>
                    <div class="form-row">
                        <a href="javascript:void(0);" data-mail="{{ email }}" id="renew-password-btn">Şifremi Yenile</a>
                    </div>
                </form>
            {% else %}
                <form action="#" class="form-validate">
                    {% csrf_token %}
                    <div class="form-row">
                        <input type="password" placeholder="Enter new password" class="form-password"
                               name="form-password"/>
                    </div>
                    <div class="form-row">
                        <input type="password" placeholder="Re-enter new password." class="form-repassword"
                               name="form-repassword"/>
                    </div>
                    <div class="form-row">
                        <a href="javascript:void(0);" data-mail="{{ email }}" id="renew-password-btn">Reset Password</a>
                    </div>
                </form>
            {% endif %}
        {% endif %}

    </div>
{% endif %}

