{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block body %}
    {% include "customers/breadcrumbs.html" %}
    <div class="maincont">
        {% if page.page_cover|length > 0 %}
            <img src="{{ page.page_cover }}" alt="{{ title }}" class="post-img user-page-cover"/>
        {% endif %}
        <div class="cont">
            <div class="post">
                <div class="post-info">
                    <a href="/{{ LANGUAGE_CODE }}/customers/reset-password">{{ page.menu_title }}</a>
                    <h1>{{ page.title }}</h1>
                </div>
                {% if not user.is_authenticated %}
                    {{ page.content_text|safe }}
                    {% include 'customers/renew_password_form.html' %}

                {% else %}
                    {% if LANGUAGE_CODE == "tr" %}
                        <h3 class="register-message">Yeni bir kullanıcı kaydı yapabilmeniz için öncelikle geçerli kullanıcı oturumunu kapatmalısınız.</h3>
                    {% else %}
                        <h3 class="register-message">You can register as a new user when you logged out. Thanks.</h3>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}