.loading-page {
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: center;
    height: 100%;
    background: #f4f5fb;
}

.loading-page img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12%;
}
.loading-page p{
    position: fixed;
    top: 65%;
    font-family: 'MontserratBlack', 'Montserrat', sans-serif;
    color: #abafc2;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result-loading{
    text-align: center;
}

.maincont .maincont-line2, .maincont .maincont-line1 {
    top: 20px;
}
.specials .special-link:hover h3,.populars .popular-link:hover h3,.section-gallery .sectgl-link:hover h3{
    color: #367c2b;
}

/*.maincont{*/
/*    z-index: 3;*/
/*}*/
.frontsearch .frontsearch-line1, .frontsearch .frontsearch-line2 {
    top: 65px;

}

.slick-slide img {
    width: 100%;
}

.no-bg {
    background: url("../images/jd_logo_left.png") no-repeat left;
    height: 80px;
    max-height: 80px;
}

.header nav {
    max-height: 80px;
    line-height: 60px;
}

.header .header-logo img {
    left: 30px;
    width: 88%;
}

.header .header-info {
    max-height: 80px;
    line-height: 60px;
}

/*users menu*/
.header .header-cart .header-cart-inner {
    color: #283346;
}

.header .header-gopersonal {
    line-height: 82px;
    font-size: 18px;
}

.header .header-gopersonal:after {
    background: none;

}

.header-info .header-favorites {
    background: none;
    line-height: 82px;
    font-size: 18px;
    width: 120px;
    text-align: center;
    position: relative;
}

.header-favorites span.language {
    font-size: 13px;
    font-weight: 700;
    padding-left: 10px;
}

.header-info .header-favorites span.fav-count {
    display: block;
    border-radius: 50%;
    color: #fff;
    background: #367c2b;
    position: absolute;
    top: 20px;
    width: 20px;
    font-size: 10px;
    padding: 3px;
    font-weight: 700;
    left: 40px;
}

.cart-btn {
    /*width: 120px !important;*/
    width: 140px !important;
}

.cart-btn span.cart-count {
    display: block;
    border-radius: 50%;
    color: #fff;
    background: #367c2b;
    position: absolute;
    top: 20px;
    width: 20px;
    font-size: 10px;
    padding: 3px;
    font-weight: 700;
    left: 40px;
}

.cart-btn span.cart-cost {
    padding-left: 18px;
    font-size: 13px;
    font-weight: 700;
}

.header .header-personal:hover .header-gopersonal {
    background: #7d7d7d;
    color: #FFF;
}

.header .header-personal ul li a {
    color: #7d7d7d;
}

.header .header-personal ul li a span {
    background: #367c2b;
}

/*users menu*/
.specials .specials-count {
    color: #367c2b;
}

.sectls-ttl-wrap p.part-number {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sectls-ttl-wrap .part-number span.oem-no {
    clear: both;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    color: #367c2b;
}

.section-list .sectls-ttl-wrap h3 a:hover {
    color: #367c2b;
}

.prd-value {
    color: #283346;
    font-weight: 500;
}

.section-list .sectls-ttl-wrap {
    width: 30%;
}

.section-list .sectls-total-wrap {
    width: 12%;
    text-align: center;
}

.section-list .sectls-total-wrap .sectls-total span {
    color: #ff3100;
}

.section-list .sectls-total-wrap .sectls-total span.true-stock {
    color: #367c2b;
}

.section-list .sectls-price-wrap, .section-list .sectls-qnt-wrap {
    text-align: center;
}

.section-list .sectls-qnt-wrap input[type=text] {
    width: 50px;
    margin: 0;
}

.section-list .sectls-qnt-wrap .sectls-qnt {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
}

.section-list .sectls-rating-wrap {
    min-width: 100px;
}

.more-prd {
    background: #367c2b;
    transition: all 0.2s;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    letter-spacing: 0.03em;
    margin: 80px auto 40px auto;
    padding: 10px 20px;
    cursor: pointer;
    width: 140px;
    text-align: center;
}

.more-prd:hover {
    background: #3e9833;
}

.section-list .sectls-id.models-bullet {
    margin-right: 5px;
}

/*prd_list page*/
.section-top {
    min-height: 45px;
    z-index: 10;
}

/*prd_list page*/

.detail-models {
    padding-top: 20px !important;
}

.models-wider {
    width: 75% !important;
}

.related-products-header {
    color: #283346 !important;
    clear: both !important;
    margin-top: 15px !important;
    width: 100% !important;
    font-size: 18px !important;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px !important;
    border-bottom: 1px solid #dcdcdc;
}

.related-products-data {
    clear: both;
    width: 100% !important;
    margin-bottom: 0 !important;
}

.related-products-data a {
    display: block;
    width: 100%;
    height: 120px;
}

.related-products-data a:hover {
    background: rgba(220, 220, 220, 0.12);
}

.related-products-data a img {
    width: 100px;
    max-height: 100px;
    height: auto;
    float: left;
    margin-top: 8px;
}

.related-products-data a span.product-name {
    padding-top: 15px;
    color: #367c2b;
    font-weight: 700;
}

.related-products-data a span {
    float: left;
    width: 82%;
    padding-left: 15px;
    padding-top: 5px;
}

.related-products-data a span i {
    display: block;
    float: left;
    width: 60px;
    font-style: normal;
    text-align: left;
}

.detail-price {
    float: right !important;
    text-align: center !important;
    width: 36% !important;
}

.detail-cart, .detail-favorites {
    float: right !important;
}

.detail-stock {
    float: right !important;
    text-align: center !important;
    width: 32% !important;
}

.detail-stock span {
    color: #367c2b;
}

.detail-quantity {
    float: right !important;
    text-align: center !important;
    width: 32% !important;
}

/*.detail-quantity  .qnt-wrap .prod-qnt*/
.prod .prod-qnt-wrap .prod-qnt {
    position: relative;
    left: 20px;
}

.detail-quantity input {
    width: 80px !important;
    position: relative;
    top: -3px;
}

.prod .prod-info {
    padding: 22px 12% 0;
}

/*detail page*/
.post .post-info {
    padding: 0;
}

.post-sidebar .post {
    margin-left: 3.7%;
    margin-right: 0;
}

.post .post-info h1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*detail page*/

.footer.johndeere-footer {
    background: #333;
}

.johndeere-footer .footer-menu {
    width: 25%;
}

.johndeere-footer .footer-menu ul li a {
    font-size: 13px;
}

.johndeere-footer .footer-menu ul li a:hover {
    color: #ffd621;
    border-bottom: 1px solid #ffd621;
}

.johndeere-footer .footer-menu p {
    color: #FFF;
}

.copyright.johndeere-copyright {
    background: #272727;
    border-top: 1px solid #292929;
    color: #5f5f5f;

}

.section-menu.category-filter {
    width: 100%;
    padding-right: 0;
}

.category-filter > .section-menu-list li {
    /*float:left;*/
    /*width: 360px;*/
    /*padding-bottom: 5px;*/
    /*padding-right: 20px;*/
}

.pocket-menu {
    text-align: center;
    width: 100% !important;
    display: block;
}

.pocket-menu li {
    width: 210px;
    padding-bottom: 5px;
    text-align: center;
    display: inline-flex;

}

.pocket-menu li a {
    color: #a0a6c5;
    display: inline-grid;
    border-bottom: 0 !important;
    width: 100%;
}

.pocket-menu li a img {
    width: 64px;
    height: auto;
    float: left;
    margin: auto;
}

.pocket-menu li a span {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.prod-info {
    min-height: 170px;
}

.register-user, .login-user, .reset-password, .changing-password {
    width: 100% !important;
}

#register-customer, #login-customer, #account-customer, #reset-password-btn, #renew-password-btn {
    padding-top: 12px;
    height: 45px;
    padding-bottom: 12px;
    width: 18%;
    background: #367c2b;
    color: #FFF;
    display: block;
    font-weight: 700;
    text-align: center;
    margin: 25px auto 50px auto;
}

#register-customer:hover, #login-customer:hover, #account-customer:hover, #reset-password-btn:hover, #renew-password-btn:hover {
    background: #4b963f;
}

.hyperlink {
    color: #367c2b;
    transition: all 0.2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-weight: 600;
}

.hyperlink:hover {
    border-color: #367c2b;
}

.register-message {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: 600;
    background: #ff3300;
    color: #FFF;
    margin-bottom: 70px;
    margin-top: 70px;
}

.user-page-cover {
    max-height: 300px;
}

.form-result-message {
    display: none;
}

.error-message {
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
    display: block;
    background: #ff3300;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
}

.clear-admin-container {
    margin-top: 45px;
}

.user-info {
    padding-top: 8px;
    color: #367c2b;
    font-weight: 700;
    font-size: 12px;
}

.user-info span {
    clear: both;
    width: 100%;
    display: block;
    margin-bottom: 8px;
}

.user-info span.notice-message, .user-info span.notice-message a {
    color: #ff3300;
}

.cont-sections {
    max-width: 74%;
    right: 8%;
}

.account-container {

}

.account-container .account-form {
    width: 95%;
    margin: 20px auto 20px 30px;
    float: inherit;
}

.newpass-form .change-password-button {
    background: #ff3100;
    transition: all 0.2s;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    height: 34px;
    display: block;
    border: none;
    letter-spacing: 0.03em;
    margin: 25px auto 15px;
    padding: 8px 15px;
    min-width: 150px;
    cursor: pointer;
    text-align: center;
}

.newpass-form .change-password-button:hover {
    background: #bb2502;
}

.newpass-form input[type=password] {
    width: 100%;
    margin-bottom: 20px;
    height: 42px;
    border: 1px solid #e6e6e6;
    font-size: 15px;
}

.change-password {
    color: #ff3100;
    font-weight: 700;
}

.address-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.address-container .address-type {
    width: 100%;
    height: 42px;
    font-size: 15px;
    padding-left: 10px;
}

.address-container h4 {
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #18202e;
    border-bottom: 1px solid #a0a6c5;
}

.address-container .form-row {
    margin-bottom: 15px;
}

.address-container .form-row textarea {
    border: 1px solid #e0e4f6;
    border-radius: 3px;
    background: #f4f5fb;
    font-size: 15px;
    color: #9fa4bb;
    transition: all 0.2s;
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100px;
    min-height: 100px;
    padding: 10px 15px 10px 15px;
    margin: 0 0 15px;
}

.address-container .form-row label {
    color: #868ca7;
    font-size: 15px;
    line-height: 180%;
}

.address-container ul li {
    color: #18202e;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #a0a6c5;
}

.address-container ul li h5 {
    color: #868ca7;
    line-height: 180%;
}

.address-container ul li address {
    font-size: 14px;
    line-height: 180%;
    margin-bottom: 5px;
}

.address-container ul li span {
    margin-right: 35px;
    color: #868ca7;
    font-size: 13px;
}

.address-container ul li span i {
    color: #367c2b;
    padding-right: 5px;
}

.address-data {
    padding-top: 0;
    padding-bottom: 25px;
}

.form-loading {
    margin: 15px auto;
    width: 32px;
    height: 32px;
    background: url("/static/images/ajax-loader.gif") no-repeat center center;
}

.result-message {
    /*background: #61a055;*/
    color: #f3f3f3;
    padding: 15px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.success-message {
    background: #61a055;
}

.err-message {
    background: #ff3100;
}

.change-password-email {
    font-weight: 700;
}

.change-password-email:hover {
    color: #ff3100;
}

.forgot-password:hover {
    color: #61a055;
}

.loading-functions {
    position: relative;
    /*top: 8px;*/
    top: 30px;
    /*left: 8px;*/
    width: 24px;
}

.general-loading {
    margin: 65px auto;
    display: block;
}

.important-payment {
    color: #ca2b05 !important;
    font-weight: 700;
}

.important-payment:hover {
    color: #ff3100 !important;
}

.cart-btn i.fa-shopping-cart {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    /*left: 0;*/
    left: 10px;
    top: 33px;
}

.cart-btn span.cart-count {
    /*left: 15px;*/
    left: 20px;
}

.cart-btn span.cart-cost {
    position: relative;
    padding-left: 0;
    /*left: 10px;*/
    left: 15px;
}

.success-notification {
    background: #61a055;
    color: #FFF;
    border: 0;
}

.error-notification {
    background: #ff3100;
    color: #FFF;
    border: 0;
}

/*basket*/
.cart-list .sectls {
    margin-top: 40px;
}

/*basket*/

.calculate-section {
    margin-top: 25px;
    font-weight: 700;
    padding-left: 0;
    min-height: 125px;
}

.calculate-section .cost-basket {
    color: #ff3100;
    padding-left: 15px;
}

.basket-header-div {
    float: left !important;
    width: 50%;
}

.basket-header-div h4 {
    font-size: 22px;
    text-align: right;
    padding-bottom: 15px;
    color: #ef2e08;
    /*border-bottom: 1px solid #dcdcdc;*/
}

.basket-header-div .credit-card {
    display: block;
    float: right;
    /*padding: 12px;*/
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    background: #367c2b;
    color: #FFF;
    margin: auto auto auto 5px;
    position: relative;
    top: 15px;
    text-transform: uppercase;
}

.basket-header-div .credit-card:hover {
    background: #3e9833;
}

.custom-payment {
    display: block;
    float: right;
    /*padding: 12px;*/
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    background: #bb2502;
    color: #FFF;
    margin: auto auto auto 5px;
    position: relative;
    top: 15px;
    text-transform: uppercase;
}

.custom-payment i, .basket-header-div .credit-card i {
    margin-right: 8px;
    font-size: 15px;
}

.custom-payment:hover {
    background: #ef2e08;
}

.basket-header-div .header-title {
    font-size: 16px;
    margin-bottom: 5px;

}

.basket-header-div .header-cost {
    margin-bottom: 10px;
    color: #ef2e08;
}

.section-top .basket-header-div:after {
    background: none;
}

.total-price {
    width: auto !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.total-price span {
    font-weight: 700;
    color: #ef2e08;
    font-size: 13px;
}

.basket-message {
    padding-left: 0 !important;
}

.basket-message h3 {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 25px;
    font-weight: 500;
    color: #283346;
}

.payment-message h3 {
    padding-left: 35px;
    padding-right: 35px;
    line-height: 200%;
}

.address-btn {
    margin: 50px auto;
    width: 220px;
    padding: 15px;
    display: block;
    background: #ef2e08;
    color: #FFF;
    text-align: center;
    position: relative;
    bottom: 50px;
    font-weight: 700;
}

.address-btn:hover {

}

.is-cargo, .is-vat {
    width: auto;
}

.message:last-child {
    border-bottom: 0 !important;
}

.card-left, .card-right {
    width: 50%;
    float: left;
    position: relative;
}

.card-left h3 {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.card-left .basket-content {
    padding: 25px;
}

.card-left .basket-content li:first-child {
    padding-bottom: 15px;
    padding-top: 0;
}

.basket-content li {
    line-height: 200%;
    border-bottom: 1px solid #7d7d7d;
    padding-bottom: 15px;
    padding-top: 15px;
    float: left;
    display: block;
    width: 32%;
    margin-left: 10px;
    min-height: 300px;
    height: auto;
}

.basket-content li span {
    display: block;
    clear: bottom;
    padding-top: 8px;
    padding-bottom: 8px;
}


.basket-content li span.product-title {

}

.basket-content li span.product-oem {

}

.basket-content li span.product-suboem {

}

.basket-content li span.total {

}

.basket-content li:last-child {
    border-bottom: 0;
    clear: both !important;
    width: 100%;
    min-height: 50px;
}

.card-right .container, .card-right .form-container {
    margin: auto;
}


/*accordion*/
.reset-ptop {
    padding-top: 0;
}

.basket-accordion {
    padding: 0;
    margin: 0;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
    z-index: 4;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    position: relative;
    bottom: 8px;
}

button.accordion.active-accordion:after {
    content: "\2212";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active-accordion, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/*accordion*/

.payment-container {
    margin: auto;
    width: 75%;
}

.payment-card-left, .payment-card-right {
    float: left;
}

.payment-card-left {
    margin-top: 65px;
}

.payment-card-right {
    margin-left: 25px;
}

.payment-button-container button {
    border: 0;
    background: #367c2b;
}

.payment-button-container a, .payment-button-container button {
    margin: 80px auto;
    width: 220px;
    padding: 12px;
    display: block;
    background: #367c2b;
    color: #FFF;
    text-align: center;
    position: relative;
    font-weight: 700;
    clear: both;
    top: 30px;
    font-size: 15px;
    cursor: pointer;
}

.payment-button-container a:hover {
    background: #3f8e32;
    cursor: pointer;
}

.payment-button-container button:active {
    background: #3f8e32;
}

.payment-button-container button.disables-payment {
    background: #f1f1f1;
    color: #8d8d8d;
}

.payment-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
    color: #18202e;
}

.payment-title .payment-sub {
    clear: both;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    color: #9e1700;
}

.error-messages {
    color: #ef2e08;
    /*text-align: center;*/
    /*width: 70%;*/
    /*margin: 35px auto;*/
    /*color: #FFF;*/
    /*padding-top: 25px;*/
    /*padding-bottom: 25px;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}

.error-messages h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.error-messages p {
    font-size: 14px;
    line-height: 200%;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
}

.error-messages p::before {
    content: '* ';
}

.revize-loading-position {
    position: relative;
    top: 25px;
    width: 25px;
}

/*orders*/
.panel .order-title {
    padding-top: 25px;
    padding-bottom: 25px;
}

.panel .order-products {
    width: 100%;
    text-align: center;
    height: auto;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 15px;
}

.panel .order-total {
    float: left;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 15px;
}

.panel .order-total h5 {

}

.panel .order-total p {

}

.panel .order-products li {
    display: inline-flex;
    width: 32%;
    text-align: center;

}

.panel .order-products li:nth-child(3n+1) {
    margin-bottom: 15px;
}

.panel .order-products li h5 {
    width: 100%;
}

.panel .order-products li span {
    width: 100%;
}

.panel .order-products li span a {
    color: #367c2b;
}

.panel .order-products li span a:hover {
    color: #367c2b;
    text-decoration: underline;
}

.more-mbottom {
    margin-bottom: 45px;
}

/*orders*/

.footer-info .footer-msg {
    font-size: 14px;
    padding-top: 20px;

}

.footer-info h3 {
    font-size: 19px;
    color: #FFF;
    font-weight: 300;
    margin: 0 0 12px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.footer-info ul {

}

.footer-info ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 15px;
}

.footer-info ul li span {
    width: 100%;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    padding-top: 5px;
}

.footer-info ul li a {
    clear: both;

}

.footer-info ul li a:hover {
    color: #ffd621;
    border-bottom: 1px solid #ffd621;
}
.page-more-mtop{
    margin-top: 50px;
}
.contacts-col1,.contacts-form{
    width: 50%;
}
.contacts-form form textarea{
    min-height: 150px;
    max-height: 150px;
    height: 150px;
    width: 100%;
    min-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contacts-form form button{
    height: 50px;
    background: #367c2b;
}
.contacts-form form button:hover{
    background: #54a047;
}
.contacts a{
    color: #367c2b;
}
.contacts a:hover {
    border-bottom: 1px solid #367c2b;
}
.contact-content{
    padding-right: 35px;
}
.contact-loading{
    top: 5px;
}

.homepage-slider div{
    position: relative;
    z-index: 1;
}


.homepage-slider div.banner-content{
    position: absolute;
    z-index: 2;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
.homepage-slider div.banner-content h3{
    font-size: 35px;
    font-family: 'MontserratBlack', 'Montserrat', sans-serif;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.3);
    float: left;
    clear: both;
}

.homepage-slider div.banner-content p{
    font-size: 20px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    position: relative;
    top: 8px;
    float: left;
    clear: both;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.hover-state{
    cursor: pointer;
}