/*
 * jQuery FlexSlider v2.6.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

.flex-container a:hover,
.flex-slider a:hover {
    outline: none;
}

.slides,
.slides>li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flexslider .slides:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .flexslider .slides {
    display: block;
}

* html .flexslider .slides {
    height: 1%;
}

.no-js .flexslider .slides>li:first-child {
    display: block;
}

.flexslider {
    position: relative;
    zoom: 1;
}

.flexslider .slides {
    zoom: 1;
}

.flexslider .slides img {
    height: auto;
    -moz-user-select: none;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.carousel li {
    margin-right: 5px;
}

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    line-height: 34px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background: rgba(228, 62, 22, 0.6);
    transition: all 0.3s ease-in-out;
}

.flex-direction-nav a:before {
    font-size: 27px;
    display: inline-block;
    vertical-align: middle;
    content: '\f104';
    font-family: FontAwesome;
    color: #fff;
    margin: 0 3px 0 0;
}

.flex-direction-nav a.flex-next:before {
    content: '\f105';
    margin: 0 0 0 5px;
}

.flex-direction-nav .flex-prev {
    left: -50px;
}

.flex-direction-nav .flex-next {
    right: -50px;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 30px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
    background: rgba(228, 62, 22, 0.8);
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 30px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
    background: rgba(228, 62, 22, 0.8);
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1;
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

.flex-pauseplay a:before {
    font-size: 20px;
    display: inline-block;
    content: '';
}

.flex-pauseplay a:hover {
    opacity: 1;
}

.flex-pauseplay a.flex-play:before {
    content: '';
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;
    z-index: 4;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
}

.flex-control-paging li a {
    width: 14px;
    height: 14px;
    display: block;
    background: #c0c4d7;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 20px;
    border: 3px solid #fff;
}

.flex-control-paging li a:hover {
    background: #ff3100;
}

.flex-control-paging li a.flex-active {
    background: #ff3100;
    cursor: default;
    border: 2px solid #ff3100;
    width: 14px;
    height: 14px;
    box-shadow: inset 0 0 0 2px #fff;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 30px;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 30px;
    }
}