.frontsearch-wrap{
    overflow: inherit;
}
.frontsearch h2{
    padding-top: 40px;
}
.specials h2,.populars h2{
    padding-top: 12px;
}
.more-top{
    bottom:20px;
}
/* Search */
.frontsearch {
    padding-top: 10px;
}

.frontsearch .frontsearch-count {
    color: #367c2b;
}

.frontsearch .frontsearch-select {
    margin: 0 3% 15px 0;
    width: 20%;
}

.frontsearch .frontsearch-selects {
    padding-right: 2.8% !important;
}

.autocomplete-box {
    width: 75% !important;
    margin-right: 0 !important;
    padding-right: 0;
    position: relative;
    bottom: 15px;
    font-size: 14px;
}

input.autocomplete-search {
    border: 0;
    width: 100%;
    position: relative;
    bottom: 5px;
    font-size: 15px;
    text-transform: uppercase;
}

.autocomplete-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 15px;
    color: #283346;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.autocomplete-search::-moz-placeholder { /* Firefox 19+ */
    font-size: 15px;
    color: #283346;
    padding-bottom: 5px;
}

.autocomplete-search:-ms-input-placeholder { /* IE 10+ */
    font-size: 15px;
    color: #283346;
    padding-bottom: 5px;
}

.autocomplete-search:-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
    color: #283346;
    padding-bottom: 5px;
}

/* Search */