
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.frontsearch-wrap {
    z-index: 11;
}
.section-menu-overlay{
    z-index: 9;
}
.search-results {
    /*z-index: 9999 !important;*/
    z-index: 15 !important;
    display: none;
    border: 0 !important;
    min-height: 60px;
    max-height: 240px;
    top: 32px !important;
    -webkit-box-shadow: 2px 6px 9px 1px rgba(192, 196, 215, 0.25);
    -moz-box-shadow: 2px 6px 9px 1px rgba(192, 196, 215, 0.25);
    box-shadow: 2px 6px 9px 1px rgba(192, 196, 215, 0.25);
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}

.search-results li {
    border-bottom: 1px solid #f2f2f2;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.search-results li:last-child {
    border-bottom: 0 !important;
}

.search-results li a {
    display: block;
    height: 60px;

}

.search-results li a:hover {
    color: #367c2b !important;

}

.search-results li a img {
    width: 52px;
    height: 52px;
    float: left;
}

.search-results li a h4 {
    padding-left: 60px;
    padding-top: 8px;
    font-weight: 600;
}

.search-results li a h5 {
    padding-left: 60px;
    padding-top: 5px;
    font-size: 13px;
    font-weight: 400;
}

.scrollable .viewport .overview {
    width: 100%;
}

.scrollable .scroll-bar.vertical .thumb {
    width: 40% !important;
}

.scrollable.default-skin .scroll-bar .thumb {
    background-color: #8c8c8c !important;
}

/*.all-results {*/
/*    position: absolute;*/
/*    top: 285px;*/
/*    width: 100%;*/
/*    color: #FFF;*/
/*    height: 40px;*/
/*    padding-top: 12px;*/
/*    text-align: center;*/
/*    z-index: 999;*/
/*    display: block;*/
/*    font-weight: 600;*/
/*    border-bottom-left-radius: 15px;*/
/*    border-bottom-right-radius: 15px;*/
/*    background-color: #367c2b;*/
/*}*/

/*.all-results:hover{*/
/*    color: #FFF;*/
/*    background-color: #459339;*/
/*}*/