{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="b-crumbs-wrap">
    <div class="cont b-crumbs">
        <ul>
            <li>
                {% if LANGUAGE_CODE == "tr" %}
                    <a href="/{{ LANGUAGE_CODE }}">Anasayfa</a>
                    {% else %}
                    <a href="/{{ LANGUAGE_CODE }}">Home</a>
                {% endif %}

            </li>
            {% if category.parent_id.parent_id.parent_id != None %}
                <li>
                    <a href="#">{{ category.parent_id.parent_id.parent_id }}</a>
                </li>
            {% endif %}
            {% if category.parent_id.parent_id != None %}
                <li>
                    <a href="#">{{ category.parent_id.parent_id }}</a>
                </li>
            {% endif %}
            {% if category.parent_id != None %}
                <li>
                    <a href="#">{{ category.parent_id }}</a>
                </li>
            {% endif %}
            <li>
                <span>{{ category }}</span>
            </li>
        </ul>
    </div>
</div>