{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


<div class="section-gallery category-item-list">
    {% for item in categories %}
        <div class="sectgl" itemscope itemtype="https://schema.org/Service" itemprop="category">
            <a href="{{ item.slug }}" class="sectgl-link">
                <p class="sectgl-img">
                    {% if item.cover != None %}
                        <img src="{{ item.cover }}" alt="{{ item.title }}" itemprop="image">
                        {% else %}
                        <img src="{% static 'images/empty.png' %}" alt="{{ item.title }}" itemprop="image">
                    {% endif %}

                </p>
                <h3 itemprop="name"><span style="top: 0;">{{ item.title }}</span></h3>
            </a>
            <p class="sectgl-info">
                <a href="#" class="sectgl-categ">{{ item.parent.title }}</a>
                {% if LANGUAGE_CODE == "tr" %}
                    <a href="{{ item.slug }}" class="sectgl-add" itemtype="https://schema.org/Offer">+ Parçalar</a>
                {% else %}
                    <a href="{{ item.slug }}" class="sectgl-add" itemtype="https://schema.org/Offer">+ Parts</a>
                {% endif %}
            </p>
        </div>
    {% endfor %}

</div>