{% extends 'base.html' %}
{% load utils %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}
    {% if LANGUAGE_CODE == "tr" %}
        Yedek Parça Kataloğu
    {% else %}
        Spare Parts Catalog
    {% endif %}

{% endblock %}

{% block meta_tags %}
    {% if LANGUAGE_CODE == "tr" %}
        <meta property="og:title" content="Söke Traktör Yedek Parça Katalogları">
        <meta itemprop="name" content="Söke Traktör Yedek Parça Katalogları">
        <meta name="twitter:title" content="Söke Traktör Yedek Parça Katalogları">
        <meta property="og:description"
              content="Traktör, Pamuk Makineleri yedek parça ve John Deere muadil ürün tedariği ile kaliteli ve güvenilir hizmet veren soketraktor.com">
        <meta itemprop="description"
              content="Traktör, Pamuk Makineleri yedek parça ve John Deere muadil ürün tedariği ile kaliteli ve güvenilir hizmet veren soketraktor.com">
        <meta name="description"
              content="Traktör, Pamuk Makineleri yedek parça ve John Deere muadil ürün tedariği ile kaliteli ve güvenilir hizmet veren soketraktor.com">
        <meta name="keywords" content="yedek parça, john deere bayi, pamuk makineleri, traktör, ürün parça tedariği">
    {% else %}
        <meta property="og:title" content="Söke Traktör John Deere Spare Parts Catalogs">
        <meta itemprop="name" content="Söke Traktör John Deere Spare Parts Catalogs">
        <meta name="twitter:title" content="Söke Traktör John Deere Spare Parts Catalogs">
        <meta property="og:description" content="Soketraktor.com, which provides quality and reliable service with the supply of Tractors, Cotton Machines spare parts and John Deere equivalent products.">
        <meta itemprop="description" content="Soketraktor.com, which provides quality and reliable service with the supply of Tractors, Cotton Machines spare parts and John Deere equivalent products.">
        <meta name="description" content="Soketraktor.com, which provides quality and reliable service with the supply of Tractors, Cotton Machines spare parts and John Deere equivalent products.">
        <meta name="keywords" content="spare parts, john deere dealer, cotton machinery, tractor, product parts supply">

    {% endif %}

    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/media/meta_images/pg_homepagep8K3ivLUWo.jpg">
    <meta property="og:type" content="website">
    <meta itemprop="image" content="{{ request.scheme }}://{{ request.get_host }}/media/meta_images/pg_homepagep8K3ivLUWo.jpg">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}/media/meta_images/pg_homepagep8K3ivLUWo.jpg">

{% endblock %}

{% block body %}
    {% include "categories/breadcrumbs.html" %}
    {% include "tech_drawing_search.html" %}
    <div class="cont maincont">
        {% include "categories/listheader.html" %}
        {% include "filter_menu.html" %}
        {% include "categories/category_items.html" %}
        {% include "categories/pager.html" %}
    </div>
{% endblock %}