{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<h1><span title="{{ category }}">{{ category }}</span></h1>

{% if LANGUAGE_CODE == "tr" %}
    {% if category_counts != None %}
        <p class="section-count">{{ category_counts }} KATALOG {{ prd_count }} PARÇA</p>
    {% else %}
        <p class="section-count">{{ prd_count }} PARÇA</p>
    {% endif %}

{% else %}
    {% if category_counts != None %}
        <p class="section-count">{{ category_counts }} CATALOG {{ prd_count }} PARTS</p>
    {% else %}
        <p class="section-count">{{ prd_count }} PARTS</p>
    {% endif %}

{% endif %}

<span class="maincont-line1 maincont-line12"></span>
<span class="maincont-line2 maincont-line22"></span>
