{% extends 'base.html' %}
{% load utils %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}
    {{ meta_tags|get_tag:"page_title" }}
{% endblock %}

{% block meta_tags %}
    {% if LANGUAGE_CODE == "tr" %}
        <meta property='og:title' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
        <meta itemprop='name' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
        <meta name='twitter:title' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
    {% else %}
        <meta property='og:title' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
        <meta itemprop='name' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
        <meta name='twitter:title' content='Söke Traktör John Deere {{ meta_tags|get_tag:"page_title" }}'/>
    {% endif %}

    <meta property='og:url' content='{{ request.build_absolute_uri }}'/>
    <meta property='og:description' content='{{ meta_tags|get_tag:"description" }}'/>
    <meta property='og:image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}'/>
    <meta property='og:type' content='website'/>

    <meta itemprop='description' content='{{ meta_tags|get_tag:"description" }}'/>
    <meta name="description" content="{{ meta_tags|get_tag:"description" }}"/>
    <meta name="keywords" content="{{ meta_tags|get_tag:"keywords" }}"/>

    <meta itemprop='image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}' />
    <meta name='twitter:image' content='{{ request.scheme }}://{{ request.get_host }}{{ meta_tags|get_tag:"cover" }}' />

{% endblock %}

{% block body %}
    {% include "categories/breadcrumbs.html" %}
    {% include "tech_drawing_search.html" %}
    <div class="cont maincont">
        {% include "categories/listheader.html" %}
        {% include "categories/category_items.html" %}
        {% include "categories/pager.html" %}
    </div>
{% endblock %}