{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if has_next %}
    <div class="result-loading"></div>
    {% if pager_type == "specific-categories" %}
        <a href="javascript:void(0);" class="more-prd" data-category="{{ category.slug }}" id="more-category" data-page="2">
        {% else %}
        <a href="javascript:void(0);" class="more-prd" id="all-category" data-page="2">
        {% endif %}

        {% if LANGUAGE_CODE == "tr" %}
            Daha Fazla
        {% else %}
            Load More
        {% endif %}
    </a>
{% endif %}



