{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="noindex, nofollow" name="robots">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% if LANGUAGE_CODE == "tr" %}
        <title>HTTP 500 Hatası - Bir Hata ile Karşılaştınız. | Söke Traktör</title>
        {% else %}
        <title>HTTP 500 Error - You Encountered an Error. | Söke Traktör</title>
    {% endif %}


    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/error_pages.css' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            {% if LANGUAGE_CODE == "tr" %}
                <h3>Oops! Aradığınız sayfa görüntülenemiyor.</h3>
                {% else %}
                <h3>Oops! The page you are looking for cannot be displayed.</h3>
            {% endif %}

            <h1><span>5</span><span>0</span><span>0</span></h1>
        </div>
        {% if LANGUAGE_CODE == "tr" %}
            <h2>Böyle bir sayfa ile karşılaştığınız için üzgünüz. Büyük ihtimalle tarayıcıya girdiğiniz bir link hatalı veya kullanım dışı olduğu için bu hatayı aldınız. Anasayfaya dönüş sağlayarak diğer parça kataloglarımızı inceleyebilirsiniz.</h2>
            <a href="/" class="return-home">Anasayfa</a>
            {% else %}
            <h2>We are sorry that you encountered such a page. You probably got this error because a link you entered in the browser is incorrect or out of order. You can return to the home page and review our other parts catalogs.</h2>
            <a href="/" class="return-home">Homepage</a>
        {% endif %}

    </div>
</div>

</body>

</html>