{% load static %}

<!-- Frontpage Article -->
<div class="botarticle-wrap">
    <div class="cont botarticle">
        <div class="botarticle-cont">
            <h3>Kings of the dirt</h3>
            <p>Best motocross gear</p>
            <a href="#" class="botarticle-more">Read more</a>
        </div>
        <a href="#" class="botarticle-img">
            <img src="{% static 'img/article1.jpg' %}" alt="">
        </a>
    </div>
</div>