{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="dropdown-wrap frontsearch-select autocomplete-box">
    {% if LANGUAGE_CODE == "tr" %}
        <input type="text" value="" class="autocomplete-search" name="search" autocomplete="on"
               placeholder="Model Oem, Suboem Numarası Giriniz."/>
    {% else %}
        <input type="text" value="" class="autocomplete-search" name="search" autocomplete="on"
               placeholder="Enter a Model Oem or Suboem Number."/>
    {% endif %}

    <ul class="search-results default-skin">
    </ul>
    {#    <div class="all-results">#}
    {#        <a href="#">Bütün Sonuçlar</a>#}
    {#    </div>#}
</div>