{% load static %}
{% if banners|length > 0 %}
    <div class="homepage-slider" style="width: 100%;">
        {% for item in banners %}
            <div>
                {% if item.custom_url|length > 0 and item.custom_url != None %}
                    <div class="banner-content hover-state" onclick="location.href='{{ item.custom_url }}';">
                        {#                    <a href="{{ item.custom_url }}" class="banner-link">#}
                        {% if item.title|length > 0 and item.title != None %}
                            <h3>{{ item.title }}</h3>
                        {% endif %}
                        {% if item.content|length > 0 and item.content != None %}
                            <p>{{ item.content }}</p>
                        {% endif %}

                        {#                    </a>#}
                    </div>
                    <img src="{{ item.cover }}" alt="{{ item.title }}"/>
                {% else %}
                    <div class="banner-content">
                    {% if item.title|length > 0 and item.title != None %}
                        <h3>{{ item.title }}</h3>
                    {% endif %}
                    {% if item.content|length > 0 and item.content != None %}
                        <p>{{ item.content }}</p>
                    {% endif %}
                {% endif %}
                </div>
                <img src="{{ item.cover }}" alt="{{ item.title }}"/>
            </div>
        {% endfor %}

    </div>
{% else %}
    <div class="homepage-slider" style="width: 100%;">
        <div>
            <img src="{% static 'img/front-slider/bg-slider2.jpg' %}" alt="Soke Traktör John Deere"/>
        </div>
    </div>
{% endif %}