{% load static %}
<!-- Frontpage Slider -->
<div class="frontslider-wrap">
    <div class="responisve-container">
        <div class="slider" id="front-slider">
            <div class="slide">
{#                <img src="{% static 'img/front-slider/1.png' %}" data-position="45,430" data-in="fade" data-delay="0" data-out="fade" alt="American Legends">#}
                <img src="{% static 'img/front-slider/bg-slider1.jpg' %}" data-in="fade" data-delay="0" data-out="fade" alt="American Legends">
                <p class="caption1" data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">
                    AMERICAN</p>
                <p class="caption2" data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">
                    LEGENDS</p>
            </div>
{#            <div class="slide">#}
{#                <img src="{% static 'img/front-slider/2.png' %}" data-position="50,518" data-in="fade" data-delay="0" data-out="fade"#}
{#                     alt="Legendary Bike">#}
{#                <p class="caption1" data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">#}
{#                    OFFROAD</p>#}
{#                <p class="caption2" data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">#}
{#                    KING</p>#}
{#            </div>#}
{#            <div class="slide">#}
{#                <img src="{% static 'img/front-slider/3.png' %}" data-position="21,480" data-in="fade" data-delay="0" data-out="fade"#}
{#                     alt="Dream Car">#}
{#                <p class="caption1" data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">#}
{#                    DREAM</p>#}
{#                <p class="caption2" data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">#}
{#                    CARS</p>#}
{#            </div>#}
        </div>
    </div>
</div>