{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %} {% endblock %} | Söke Traktör</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_tags %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin,cyrillic,latin_ext' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <![endif]-->
</head>
<body>
<div class="loading-page">
    <img src="{% static 'images/loading_page.gif' %}" alt="" />
    <p>Lütfen Bekleyiniz.</p>
{#    {% if LANGUAGE_CODE == "tr" %}#}
{#        <p>Sayfa yükleniyor.</p>#}
{#        {% else %}#}
{#        <p></p>#}
{#    {% endif %}#}

</div>
{% include "header_menu2.html" %}
<main>
    {% block body %}
    {% endblock %}
</main>
{% include "footer.html" %}
{% include "message_form.html" %}
{% include "js_libraries.html" %}
</body>
</html>