{% load static %}
<!-- Categories List -->
        <div class="cont">
            <ul class="frontcategs">
                <li>
                    <a href="#!">
			<span class="frontcategs-img">
				<img src="{% static 'img/front-categories/frcateg1.png' %}" alt="">
				<img src="{% static 'img/front-categories/frcateg1h.png' %}" alt="">
			</span>
			<p>Automobiles</p>
		</a>
                </li>
                <li>
                    <a href="#!">
			<span class="frontcategs-img">
				<img src="{% static 'img/front-categories/frcateg2.png' %}" alt="">
				<img src="{% static 'img/front-categories/frcateg2h.png' %}" alt="">
			</span>
			<p>Motorcycles</p>
		</a>
                </li>
                <li>
                    <a href="#!">
			<span class="frontcategs-img">
				<img src="{% static 'img/front-categories/frcateg3.png' %}" alt="">
				<img src="{% static 'img/front-categories/frcateg3h.png' %}" alt="">
			</span>
			<p>ATVs</p>
		</a>
                </li>
                <li>
                    <a href="#!">
			<span class="frontcategs-img">
				<img src="{% static 'img/front-categories/frcateg4.png' %}" alt="">
				<img src="{% static 'img/front-categories/frcateg4h.png' %}" alt="">
			</span>
			<p>Snowmobiles</p>
		</a>
                </li>
                <li>
                    <a href="#!">
			<span class="frontcategs-img">
				<img src="{% static 'img/front-categories/frcateg5.png' %}" alt="">
				<img src="{% static 'img/front-categories/frcateg5h.png' %}" alt="">
			</span>
			<p>UTVs</p>
		</a>
                </li>
                <li>
                    <a href="#!">
			<span class="frontcategs-img">
				<img src="{% static 'img/front-categories/frcateg6.png' %}" alt="">
				<img src="{% static 'img/front-categories/frcateg6h.png' %}" alt="">
			</span>
			<p>Scooters</p>
		</a>
                </li>
                <li>
                    <a href="#!">
			<span class="frontcategs-img">
				<img src="{% static 'img/front-categories/frcateg7.png' %}" alt="">
				<img src="{% static 'img/front-categories/frcateg7h.png' %}" alt="">
			</span>
			<p>Watercrafts</p>
		</a>
                </li>
            </ul>
        </div>