{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if pocket_list|length > 0 %}
    <div class="section-top">
        {% if LANGUAGE_CODE == "tr" %}
            <a href="#" class="section-menu-btn" id="section-menu-btn" data-language="{{ LANGUAGE_CODE }}">Katalog</a>
        {% else %}
            <a href="#" class="section-menu-btn" id="section-menu-btn" data-language="{{ LANGUAGE_CODE }}">Catalog</a>
        {% endif %}

        <div class="section-menu-wrap" id="section-menu-wrap" >

            <div class="section-menu category-filter">
                <ul class="section-menu-list pocket-menu">
                    {% for item in pocket_list %}
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/{{ item.slug }}">
                                {% if item.cover|length > 0 %}
                                    <img src="{{ item.cover }}" alt="{{ item.title }}"/>
                                {% else %}
                                    <img src="{% static 'images/empty.png' %}" alt="{{ item.title }}"/>
                                {% endif %}
                                <span>{{ item.title }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
{% endif %}