{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{#{{ bottom_menu }}#}
{#{% for item in bottom_menu %}#}
{#    <p><strong>{{ item.title }}</strong></p>#}
{#    {% if item.sub_menu|length > 0 %}#}
{#        <ul>#}
{#            {% for itemsub in item.sub_menu %}#}
{#                <li>#}
{#                    <a href="/{{ LANGUAGE_CODE }}/{{ itemsub.slug }}">{{ itemsub.title }}</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{#{% endfor %}#}

{% for item in bottom_menu %}
    <div class="footer-menu">
        <p>{{ item.title }}</p>
        {% if item.sub_menu|length > 0 %}
            <ul>
                {% for itemsub in item.sub_menu %}
                    <li><a href="/{{ LANGUAGE_CODE }}/{{ itemsub.slug }}">{{ itemsub.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endfor %}
{#<div class="footer-menu"></div>#}
