{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Footer - start -->
<footer class="footer johndeere-footer">
    <div class="cont footer-top">
        {% include "footer_menu.html" %}
        <div class="footer-info">
            <h3>Söke Traktör ve Ekipmanları San. Tic. Ltd. Şti.</h3>
            <ul>
                {% if LANGUAGE_CODE == "tr" %}
                    <li>
                        <span>Adres</span>
                        <a href="https://goo.gl/maps/3xpJM72hHsA2" target="_blank">{{ footer_address }}</a>
                    </li>
                    <li>
                        <span>E-posta</span>
                        <a href="mailto:{{ footer_email }}">{{ footer_email }}</a>
                    </li>
                    <li>
                        <span>Telefon</span>
                        <a href="tel:+902565181233">(256) 518 1233</a>
                    </li>
                {% else %}
                    <li>
                        <span>Address</span>
                        <a href="https://goo.gl/maps/3xpJM72hHsA2" target="_blank">{{ footer_address }}</a>
                    </li>
                    <li>
                        <span>E-mail</span>
                        <a href="mailto:{{ footer_email }}">{{ footer_email }}</a>
                    </li>
                    <li>
                        <span>Phone</span>
                        <a href="tel:+902565181233">(256) 518 1233</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="copyright johndeere-copyright">
        {% if LANGUAGE_CODE == "tr" %}
            <p class="cont">© 2020 Tüm Hakları Saklıdır.</p>
        {% else %}
            <p class="cont">© 2020 All Right Received</p>
        {% endif %}
    </div>
</footer>
<!-- Footer - end -->