{#<form action="#" class="form-validate">#}
{#    <input data-required="text" data-required-email="email" type="text" placeholder="Email address"#}
{#           name="email1">#}
{#    <input type="submit" value="Subscribe">#}
{#</form>#}
