{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="header no-bg">
    <!-- Navmenu Mobile Toggle Button -->
    <a href="#" class="header-menutoggle" id="header-menutoggle">Menu</a>
    {% include "usersmenu.html" %}

    <h1 class="header-logo">
        <a href="/{{ LANGUAGE_CODE }}"><img src="{% static 'img/logo3.png' %}" alt=""/></a>
    </h1>

    <!-- Navmenu - start -->
    <nav id="top-menu">
        <ul>
            {% for item in top_menu %}

                {% if item.sub_menu|length > 0 %}
                    <li class="has-child">
                        <a href="javascript:void(0);">{{ item.title }}</a>
                        <i class="fa fa-angle-down"></i>
                        <ul>
                            {% for itemsub in item.sub_menu %}
                                <li><a href="/{{ LANGUAGE_CODE }}/{{ itemsub.slug }}">{{ itemsub.title }}</a></li>
                            {% endfor %}
                            {% if item.title == "Yedek Parça" or item.title == "Spare Parts" %}
                                {% if LANGUAGE_CODE == "tr" %}
                                    <li><a href="/{{ LANGUAGE_CODE }}/products">Tüm Ürünler</a></li>
                                {% else %}
                                    <li><a href="/{{ LANGUAGE_CODE }}/products">All Products</a></li>
                                {% endif %}
                            {% endif %}


                        </ul>
                    </li>
                {% else %}
                    <li>
                        {% if item.title == "Anasayfa" or item.title == "Home" or item.title == "Homepage" %}
                            <a href="/{{ LANGUAGE_CODE }}">{{ item.title }}</a>
                        {% else %}
                            <a href="/{{ LANGUAGE_CODE }}/{{ item.slug }}">{{ item.title }}</a>
                        {% endif %}

                    </li>
                {% endif %}

            {% endfor %}

        </ul>
    </nav>
    <!-- Navmenu - end -->

</div>