{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="header">

    <!-- Navmenu Mobile Toggle Button -->
    <a href="#" class="header-menutoggle" id="header-menutoggle">Menu</a>

    <div class="header-info">

        <!-- Personal Menu -->
        <div class="header-personal">
            <a href="#" class="header-gopersonal"></a>
            <ul>
                {% if not user.is_authenticated %}
                    {% if LANGUAGE_CODE == "tr" %}
                        <li>
                            <a href="#">Kayıt ol</a>
                        </li>
                        <li>
                            <a href="#">Giriş yap</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="#">Register</a>
                        </li>
                        <li>
                            <a href="#">Log in</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li>
                        <a href="#!">Messages <span>12</span></a>
                    </li>
                    <li>
                        <a href="#">Bookmarks <span>6</span></a>
                    </li>
                    <li>
                        <a href="#!">Shopping Cart <span>5</span></a>
                    </li>
                    <li class="header-order">
                        <a href="#!">Order Status</a>
                    </li>
                    <li>
                        <a href="#">Settings</a>
                    </li>
                    <li>
                        <a href="#">Log out</a>
                    </li>
                {% endif %}

            </ul>
        </div>

        <!-- Small Cart -->
        <a href="#!" class="header-cart">
            <div class="header-cart-inner">
                <p class="header-cart-count">
                    <img src="{% static 'img/cart.png' %}" alt="">
                    <span>3</span>
                </p>
                <p class="header-cart-summ">$300</p>
            </div>
        </a>

        <a href="#" class="header-compare"></a>
        <a href="#" class="header-favorites"></a>

        <!-- Search Form -->
        <a href="#" class="header-searchbtn" id="header-searchbtn"></a>
        <form action="#" class="header-search" id="header-search">
            <input type="text" placeholder="Search parts or vehicles">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

    </div>

    <!-- Logotype -->
    <p class="header-logo">
        {#        <a href="#!"><img src="{% static 'img/logo.png' %}" alt=""></a>#}
        <a href="#!"><img src="{% static 'images/jd_logo_desktop.png' %}" alt=""/></a>
    </p>

    <!-- Navmenu - start -->
    <nav id="top-menu">
        <ul>
            <li class="active">
                <a href="#!">Home</a>
            </li>
            <li class="has-child">
                <a href="#!">Catalog</a>
                <i class="fa fa-angle-down"></i>
                <ul>
                    <li><a href="#!">Catalog: List Mode</a></li>
                    <li><a href="#!">Catalog: Gallery Mode</a></li>
                    <li><a href="#!">Product: Standart</a></li>
                    <li><a href="#!">Product: Vehicle</a></li>
                </ul>
            </li>
            <li class="has-child">
                <a href="#">Pages</a>
                <i class="fa fa-angle-down"></i>
                <ul>
                    <li><a href="#!">About Us</a></li>
                    <li><a href="#!">Contacts</a></li>
                    <li><a href="#!">Gallery</a></li>
                    <li><a href="#!">Error 404</a></li>
                </ul>
            </li>
            <li class="has-child">
                <a href="#!">Blog</a>
                <i class="fa fa-angle-down"></i>
                <ul>
                    <li><a href="#!">Blog: Standart</a></li>
                    <li><a href="#!">Blog: Full Width</a></li>
                    <li><a href="#!">Blog: Left Sidebar</a></li>
                    <li><a href="#!">Single Post: Standart</a></li>
                    <li><a href="#!">Single Post: With a Map</a></li>
                    <li><a href="#!">Single Post: Video</a></li>
                    <li><a href="#!">Single Post: Slider</a></li>
                    <li><a href="#!">Single Post: Sidebar</a></li>
                </ul>
            </li>
            <li>
                <a href="#!">Contacts</a>
            </li>
            <li class="has-child">
                <a href="#!">Orders</a>
                <i class="fa fa-angle-down"></i>
                <ul>
                    <li><a href="#!">Orders</a></li>
                    <li><a href="#!">Messages</a></li>
                    <li><a href="#!">Shopping Cart</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Navmenu - end -->

</div>
<!-- Header - end -->