{% load static %}
<script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static 'js/fancybox/fancybox.js' %}"></script>
<script src="{% static 'js/fancybox/helpers/jquery.fancybox-thumbs.js' %}"></script>
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.fractionslider.min.js' %}"></script>
<script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'js/jquery.custom-scrollbar.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.notifyBar.js' %}"></script>
<script src="{% static 'js/search_js.js' %}"></script>
<script src="{% static 'js/jquery.maskMoney.js' %}"></script>
<script src="{% static 'js/credit_card_form.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

