{% load static %}
{#{% load utils %}#}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="specials-wrap">
    <div class="cont specials">
        {% if LANGUAGE_CODE == "tr" %}
            <h2>Ürün Kataloğu</h2>
            <p class="specials-count">{{ categories_count }} KATALOG {{ products_count }} YEDEK PARÇA</p>
        {% else %}
            <h2>Parts Catalogue</h2>
            <p class="specials-count">{{ categories_count }} CATALOGUES {{ products_count }} PARTS</p>
        {% endif %}

        <div class="specials-list">
            <div class="special special-pseudo">
                <a href="#" class="special-link"></a>
            </div>
            {% for item in categories %}
                <div class="special" itemscope itemtype="https://schema.org/Offer">
                    <a href="{{ item.slug }}" class="special-link">
                        <p class="special-img">
                            <img src="{{ item.cover }}" alt="{{ item.title }}">
                        </p>
                        <h3><span>{{ item.title }}</span></h3>
                    </a>
                    <p class="special-info">
                        <a href="{{ item.slug }}" class="special-categ">{{ item.parent }}</a>
{#                        <span class="special-price">$312</span>#}
                        {% if LANGUAGE_CODE == "tr" %}
                            <a href="#" class="special-add" itemtype="https://schema.org/Service">+ Parçalar</a>
                        {% else %}
                            <a href="#" class="special-add" itemtype="https://schema.org/Service">+ Parts</a>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>

        <p class="special-more">
            {% if LANGUAGE_CODE == "tr" %}
                <a href="/{{ LANGUAGE_CODE }}/categories/" itemtype="https://schema.org/OfferCatalog">Tüm Kataloglar</a>
            {% else %}
                <a href="/{{ LANGUAGE_CODE }}/categories/" itemtype="https://schema.org/OfferCatalog">All Catalogs</a>
            {% endif %}

        </p>
        <span class="special-line1"></span>
        <span class="special-line2"></span>
    </div>
</div>