<!-- Modal Form -->
<div id="modal-form" class="modal-form">
    <p class="modal-form-ttl">Contact Us</p>
    <form action="#" class="form-validate">
        <input type="password" placeholder="Güncel Şifreniz" class="form-current" name="form-current"/>
        <input type="password" placeholder="Yeni Şifreniz" class="form-newpass" name="form-current"/>
        <input type="password" placeholder="Yeni Şifrenizi Tekrardan Giriniz" class="form-renewpass" name="form-current"/>

        <input type="submit" value="Send">
    </form>
</div>