{% load static %}
<!-- Get a Special Deals -->
<div class="getspec-wrap">
    <div class="cont getspec">
        <div class="getspec-cont">
            <h3>Winter is coming</h3>
            <p>New snowmobile parts</p>
            <form action="#" class="form-validate">
                <input data-required="text" data-required-email="email" type="text" placeholder="Email address" name="email3" />
                <input type="submit" value="Get a special deals">
            </form>
        </div>
        <a href="#" class="getspec-img">
            <img src="{% static 'img/getspec.jpg' %}" alt="">
        </a>
    </div>
</div>