{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="frontsearch-selects">
    <div class="dropdown-wrap frontsearch-select">
    {% if LANGUAGE_CODE == "tr" %}
        <p class="dropdown-title frontsearch-select-ttl">Parça Numarası</p>
        {% else %}
        <p class="dropdown-title frontsearch-select-ttl">Part Number</p>
    {% endif %}

        <ul class="dropdown-list">
            {% if LANGUAGE_CODE == "tr" %}
                <li class="active">
                    <a href="#" class="active">Parça Numarası</a>
                </li>
                <li>
                    <a href="#">Model</a>
                </li>
                <li>
                    <a href="#">Belgeler</a>
                </li>
            {% else %}
                <li class="active">
                    <a href="#">Part Number</a>
                </li>
                <li>
                    <a href="#">Model</a>
                </li>
                <li>
                    <a href="#">Documents</a>
                </li>
            {% endif %}

        </ul>
    </div>
    {% include 'autocomplete_search.html' %}
</div>