{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% if products|length > 0 %}

    <div class="populars-wrap">
        <div class="cont populars">
            {% if LANGUAGE_CODE == "tr" %}
                <h2 itemprop="yedekparça">Son Eklenenler</h2>
                <p class="populars-count">{{ products_count }} YEDEK PARÇA</p>
            {% else %}
                <h2 itemprop="spareparts">Popular</h2>
                <p class="populars-count">{{ products_count }} PARTS</p>
            {% endif %}


            <div class="populars-list">
                {% for item in products %}

                    <div class="popular" itemscope itemprop="product" itemtype=”http://schema.org/Product >
                        <a href="{{ item.slug }}" class="popular-link">
                            <p class="popular-img">
                                {% if item.cover|length > 0 %}
                                    <img src="{{ item.cover }}" alt="{{ item.title }}">
                                {% else %}
                                    <img src="{% static 'images/empty.png' %}" alt="{{ item.title }}">
                                {% endif %}

                            </p>
                            <h3 itemprop="name"><span>{{ item.title }}</span></h3>
                        </a>
                        <p class="popular-info">
                            <a href="{{ item.slug }}" title="{{ item.category }}"
                               class="popular-categ">{{ item.category|truncatechars:"10" }}</a>
                            {% if LANGUAGE_CODE == "tr" %}
                                {% if item.price != None %}
                                    <span class="popular-price">{{ item.price|floatformat:"2" }} ₺</span>
                                {% else %}
                                    <span class="popular-price">Bilgi Alınız</span>
                                {% endif %}

                                <a href="javascript:void(0);" class="popular-add add-basket" data-type="{{ item.product_type }}" data-id="{{ item.id }}" itemprop="availability">+ Sepete Ekle</a>
                            {% else %}
                                {% if item.price != None %}
                                    <span class="popular-price" itemprop="price">{{ item.price|floatformat:"2" }} $</span>
                                {% else %}
                                    <span class="popular-price">Req. Infirmation</span>
                                {% endif %}

                                <a href="javascript:void(0);" class="popular-add add-basket" data-type="{{ item.product_type }}" data-id="{{ item.id }}" itemprop="availability">+ Add to cart</a>
                            {% endif %}
                        </p>
                    </div>
                {% endfor %}


            </div>
            <p class="popular-more">
                {% if LANGUAGE_CODE == "tr" %}
                    <a href="/{{ LANGUAGE_CODE }}/products">Tüm Parçalar</a>
                {% else %}
                    <a href="/{{ LANGUAGE_CODE }}/products">All Components</a>
                {% endif %}

            </p>
            <span class="popular-line1"></span>
            <span class="popular-line2"></span>
        </div>
    </div>

{% endif %}