<ul class="footer-social">
    <li>
        <a rel="nofollow" target="_blank" href="http://facebook.com">
            <i class="fa fa-facebook"></i>
        </a>
    </li>
    <li>
        <a rel="nofollow" target="_blank" href="mailto:email@email.com">
            <i class="fa fa-paper-plane"></i>
        </a>
    </li>
    <li>
        <a rel="nofollow" target="_blank" href="http://pinterest.com">
            <i class="fa fa-pinterest-p"></i>
        </a>
    </li>
    <li>
        <a rel="nofollow" target="_blank" href="http://youtube.com">
            <i class="fa fa-youtube-play"></i>
        </a>
    </li>
    <li>
        <a rel="nofollow" target="_blank" href="http://twitter.com">
            <i class="fa fa-twitter"></i>
        </a>
    </li>
    <li>
        <a rel="nofollow" target="_blank" href="http://google.com">
            <i class="fa fa-google-plus"></i>
        </a>
    </li>
    <li>
        <a rel="nofollow" target="_blank" href="http://twitter.com">
            <i class="fa fa-share-alt"></i>
        </a>
    </li>
</ul>