{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Frontpage Filter -->
<div class="frontsearch-wrap more-top" itemscope itemprop="search" itemtype="http://schema.org/SearchAction">
    <div class="cont frontsearch">
        {% if LANGUAGE_CODE == "tr" %}
            <h2>PARÇA ARAMA</h2>
            <p class="frontsearch-count">{{ products_count }} YEDEK PARÇA</p>
        {% else %}
            <h2>SEARCH PART</h2>
            <p class="frontsearch-count">{{ products_count }} PARTS</p>
        {% endif %}

        <div class="frontsearch-wrap">
            {% include "page_filter.html" %}
            {#          {% include "tech_filter.html" %}#}
        </div>
        <span class="frontsearch-line1"></span>
        <span class="frontsearch-line2"></span>
    </div>
</div>