{% load static %}
{% load i18n %}
{% load humanize %}
{% get_current_language as LANGUAGE_CODE %}

<div class="header-info">
    <!-- Personal Menu -->
    <div class="header-personal">
        <a href="#" class="header-gopersonal">
            <i class="fa fa-user"></i>
        </a>
        <ul>
            {% if not user.is_authenticated %}

                {% if LANGUAGE_CODE == "tr" %}

                    <li>
                        <a href="/{{ LANGUAGE_CODE }}/register">Kayıt ol</a>
                    </li>
                    <li>
                        <a href="/{{ LANGUAGE_CODE }}/login">Giriş yap</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/{{ LANGUAGE_CODE }}/register">Register</a>
                    </li>
                    <li>
                        <a href="/{{ LANGUAGE_CODE }}/login">Log in</a>
                    </li>
                {% endif %}
            {% else %}
                {% if LANGUAGE_CODE == "tr" %}
                    {% if user.is_superuser %}
                        <li>
                            <a href="/admin">Admin Panel</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="logout-btn">Çıkış Yap</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Bildirimler
                                {% if notification_count > 0 %}
                                    <span>{{ notification_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>

                            <a href="/{{ LANGUAGE_CODE }}/customers/basket" class="active-basket">Sepet
                                {% if basket_count > 0 %}
                                    <span>{{ basket_count }}</span>
                                {% endif %}

                            </a>
                        </li>
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Siparişler
                                {% if order_count > 0 %}
                                    <span>{{ order_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Cari
                                Ödeme İşlemi</a>
                        </li>
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/accounts">Hesap Ayarları</a>
                        </li>
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Kullanıcı Paneli</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="logout-btn">Çıkış Yap</a>
                        </li>
                    {% endif %}


                {% else %}
                    {% if user.is_superuser %}
                        <li>
                            <a href="/admin">Admin Panel</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="logout-btn">Log out</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Notifications
                                {% if notification_count > 0 %}
                                    <span>{{ notification_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/basket" class="active-basket">Basket
                                {% if basket_count > 0 %}
                                    <span>{{ basket_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/orders">Orders
                                {% if order_count > 0 %}
                                    <span>{{ order_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/current-payment" class="important-payment">Current
                                Payment</a>
                        </li>
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/accounts">Account Options</a>
                        </li>
                        <li>
                            <a href="/{{ LANGUAGE_CODE }}/customers/dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="logout-btn">Log out</a>
                        </li>
                    {% endif %}

                {% endif %}

            {% endif %}

        </ul>
    </div>
    <!-- Cart Btn -->
    {% if LANGUAGE_CODE == "tr" %}
        <a href="/{{ LANGUAGE_CODE }}/customers/basket" class="header-favorites cart-btn"
           title="₺ {{ basket_price|floatformat:"2"|intcomma }}">
    {% else %}
        <a href="/{{ LANGUAGE_CODE }}/customers/basket" class="header-favorites cart-btn"
           title="$ {{ basket_price|floatformat:"2"|intcomma }}">
    {% endif %}
    {##}
    {#    <a href="/{{ LANGUAGE_CODE }}/customers/basket" class="header-favorites cart-btn" title="{{ basket_price|floatformat:"2"|intcomma }}">#}
    <i class="fa fa-shopping-cart"></i>
    <span class="cart-count">{{ basket_count }}</span>
    {% if basket_price != None %}
        <span class="cart-cost">
                {% if LANGUAGE_CODE == "tr" %}
                    ₺
                {% else %}
                    $
                {% endif %}
            {{ basket_price|floatformat:"2"|intcomma }}
            </span>
    {% else %}
        <span class="cart-cost">
            {% if LANGUAGE_CODE == "tr" %}
                ₺ 0.00
            {% else %}
                $ 0.00
            {% endif %}
            </span>
    {% endif %}

    </a>
    <!-- Cart Btn -->
    {% if LANGUAGE_CODE == "tr" %}
        <a href="{{ change_language }}" class="header-favorites">
            <i class="fa fa-globe"></i>
            <span class="language">İngilizce</span>
        </a>
    {% else %}
        <a href="{{ change_language }}" class="header-favorites">
            <i class="fa fa-globe"></i>
            <span class="language">Turkish</span>
        </a>
    {% endif %}


</div>